Repository torlando-tech/columba: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, python

fix: remove unused 'signature' variable in GuardianCommandProcessor
  app/src/main/java/com/lxmf/messenger/service/GuardianCommandProcessor.kt
Due: none

fix: resolve detekt violations in parental controls code
  app/src/main/java/com/lxmf/messenger/service/GuardianCommandProcessor.kt
  app/src/main/java/com/lxmf/messenger/service/MessageCollector.kt
  app/src/main/java/com/lxmf/messenger/service/manager/EventHandler.kt
  app/src/main/java/com/lxmf/messenger/ui/screens/GuardianQrScannerScreen.kt
  app/src/main/java/com/lxmf/messenger/ui/screens/GuardianScreen.kt
  data/src/main/java/com/lxmf/messenger/data/db/ColumbaDatabase.kt
  data/src/main/java/com/lxmf/messenger/data/di/DatabaseModule.kt
  data/src/main/java/com/lxmf/messenger/data/repository/GuardianRepository.kt
Due: unittests

fix: harden GMS initialization to prevent crash on GrapheneOS and non-GMS devices (#567)
  app/src/main/java/com/lxmf/messenger/service/LocationSharingManager.kt
  app/src/main/java/com/lxmf/messenger/service/TelemetryCollectorManager.kt
  app/src/main/java/com/lxmf/messenger/ui/screens/DiscoveredInterfacesScreen.kt
  app/src/main/java/com/lxmf/messenger/ui/screens/MapScreen.kt
  app/src/main/java/com/lxmf/messenger/ui/screens/offlinemaps/OfflineMapDownloadScreen.kt
  app/src/main/java/com/lxmf/messenger/util/LocationCompat.kt
Due: unittests

fix: resolve detekt SwallowedException and ktlint indentation issues
  app/src/main/java/com/lxmf/messenger/ui/screens/DiscoveredInterfacesScreen.kt
  app/src/main/java/com/lxmf/messenger/ui/screens/MapScreen.kt
  app/src/main/java/com/lxmf/messenger/viewmodel/SharedTextViewModel.kt
Due: unittests

fix: resolve all CI failures for parental controls PR
  app/src/main/java/com/lxmf/messenger/viewmodel/SettingsViewModel.kt
  app/src/test/java/com/lxmf/messenger/service/MessageCollectorTest.kt
  app/src/test/java/com/lxmf/messenger/viewmodel/ContactsViewModelTest.kt
  app/src/test/java/com/lxmf/messenger/viewmodel/MessagingViewModelImageLoadingTest.kt
  app/src/test/java/com/lxmf/messenger/viewmodel/MessagingViewModelTest.kt
  app/src/test/java/com/lxmf/messenger/viewmodel/SettingsViewModelIncomingMessageLimitTest.kt
  app/src/test/java/com/lxmf/messenger/viewmodel/SettingsViewModelTest.kt
  python/reticulum_wrapper.py
Due: unittests, python

fix: add missing flowOf import to ContactsViewModelTest
  app/src/test/java/com/lxmf/messenger/viewmodel/ContactsViewModelTest.kt
Due: unittests

fix: add missing test stubs for guardian feature in 3 test classes
  app/src/test/java/com/lxmf/messenger/service/manager/EventHandlerTest.kt
  app/src/test/java/com/lxmf/messenger/service/persistence/ServicePersistenceManagerTest.kt
  app/src/test/java/com/lxmf/messenger/ui/screens/ContactsScreenTest.kt
Due: unittests

test: expand guardian crypto test coverage from 16 to 48 tests
  python/test_guardian_crypto.py
Due: none

fix: use arm64-v8a filename so Obtainium selects 64-bit APK
  .github/workflows/build-prerelease-apk.yml
  .github/workflows/release.yml
Due: none

fix: update AGP 8.13, Lifecycle 2.10, Chaquopy 16.1 to fix lint crash
  app/build.gradle.kts
  build.gradle.kts
  gradle/libs.versions.toml
Due: unittests

feat: replace call.audio with lxst.telephony + PHONE NodeType
  app/src/main/java/com/lxmf/messenger/MainActivity.kt
  app/src/main/java/com/lxmf/messenger/reticulum/protocol/NodeTypeDetector.kt
  app/src/main/java/com/lxmf/messenger/ui/components/PeerCard.kt
  app/src/main/java/com/lxmf/messenger/ui/screens/AnnounceDetailScreen.kt
  app/src/main/java/com/lxmf/messenger/ui/screens/AnnounceStreamScreen.kt
  app/src/main/java/com/lxmf/messenger/viewmodel/AnnounceStreamViewModel.kt
  app/src/test/java/com/lxmf/messenger/reticulum/protocol/NodeTypeDetectorTest.kt
  app/src/test/java/com/lxmf/messenger/ui/screens/AnnounceDetailScreenTest.kt
  data/src/main/java/com/lxmf/messenger/data/db/dao/AnnounceDao.kt
  data/src/main/java/com/lxmf/messenger/data/repository/AnnounceRepository.kt
  python/reticulum_wrapper.py
  reticulum/src/main/java/com/lxmf/messenger/reticulum/model/AnnounceEvent.kt
Due: unittests, python

feat: delete stale announces older than 30 days on startup
  app/src/main/java/com/lxmf/messenger/service/ReticulumService.kt
  app/src/main/java/com/lxmf/messenger/service/persistence/ServicePersistenceManager.kt
  data/src/main/java/com/lxmf/messenger/data/db/dao/AnnounceDao.kt
  data/src/main/java/com/lxmf/messenger/data/repository/AnnounceRepository.kt
  data/src/test/java/com/lxmf/messenger/data/db/dao/AnnounceDaoTest.kt
Due: none

feat: support multiple firmware sources + custom firmware in RNode flasher
  app/src/main/java/com/lxmf/messenger/ui/screens/flasher/RNodeFlasherScreen.kt
  app/src/main/java/com/lxmf/messenger/ui/screens/flasher/steps/FirmwareSelectionStep.kt
  app/src/main/java/com/lxmf/messenger/viewmodel/FlasherViewModel.kt
  reticulum/src/main/java/com/lxmf/messenger/reticulum/flasher/FirmwareDownloader.kt
  reticulum/src/main/java/com/lxmf/messenger/reticulum/flasher/FirmwarePackage.kt
  reticulum/src/main/java/com/lxmf/messenger/reticulum/flasher/FirmwareSource.kt
  reticulum/src/main/java/com/lxmf/messenger/reticulum/flasher/RNodeFlasher.kt
Due: unittests

fix: prevent flaky UncaughtExceptionsBeforeTest in OfflineMapDownloadViewModelTest
  app/src/test/java/com/lxmf/messenger/viewmodel/OfflineMapDownloadViewModelTest.kt
Due: unittests

fix: resolve detekt SwallowedException violations
  app/src/main/java/com/lxmf/messenger/service/InterfaceConfigManager.kt
  app/src/main/java/com/lxmf/messenger/ui/screens/MessagingScreen.kt
Due: unittests

fix: add missing R import in MessagingScreen
  app/src/main/java/com/lxmf/messenger/ui/screens/MessagingScreen.kt
Due: unittests

fix: prevent applyInterfaceChanges() infinite hang + speed up restart
  app/src/main/java/com/lxmf/messenger/service/InterfaceConfigManager.kt
  app/src/main/java/com/lxmf/messenger/ui/screens/IdentityScreen.kt
  app/src/main/java/com/lxmf/messenger/ui/screens/SettingsScreen.kt
  app/src/main/java/com/lxmf/messenger/viewmodel/DebugViewModel.kt
  app/src/main/java/com/lxmf/messenger/viewmodel/SettingsViewModel.kt
Due: unittests

Add 50MB size cap to loadBinaryFromDisk and loadAttachmentFromDisk
  app/src/main/java/com/lxmf/messenger/ui/model/MessageMapper.kt
Due: unittests

Address Greptile review feedback on comments and test coverage
  app/src/main/java/com/lxmf/messenger/MainActivity.kt
  app/src/test/java/com/lxmf/messenger/viewmodel/OnboardingViewModelTest.kt
Due: unittests

Address Greptile review: fix LaunchedEffect race and test stub ordering
  app/src/main/java/com/lxmf/messenger/MainActivity.kt
  app/src/test/java/com/lxmf/messenger/viewmodel/OnboardingViewModelTest.kt
Due: unittests

Refactor MapViewModel self-echo lookup to satisfy detekt
  app/src/main/java/com/lxmf/messenger/service/TelemetryCollectorManager.kt
  app/src/main/java/com/lxmf/messenger/viewmodel/MapViewModel.kt
Due: unittests

fix: correct misleading freshness comment in MapViewModel
  app/src/main/java/com/lxmf/messenger/viewmodel/MapViewModel.kt
Due: unittests

fix: persist attempt timestamps and narrow legacy address migration
  app/src/main/java/com/lxmf/messenger/service/TelemetryCollectorManager.kt
Due: none

fix: reorder permission launchers to resolve forward reference
  app/src/main/java/com/lxmf/messenger/ui/screens/SettingsScreen.kt
Due: unittests

fix: update Lucide icon references for v2.x resource-based API
  app/src/main/java/com/lxmf/messenger/ui/components/PeerCard.kt
  app/src/main/java/com/lxmf/messenger/ui/screens/DiscoveredInterfacesScreen.kt
Due: unittests

fix: clear stale statusMessage on completion, remove dead dismissHttpAutoDisabledMessage
  app/src/main/java/com/lxmf/messenger/viewmodel/OfflineMapDownloadViewModel.kt
  app/src/test/java/com/lxmf/messenger/viewmodel/OfflineMapDownloadViewModelTest.kt
Due: unittests

fix: address review feedback on Locate on Map feature
  app/src/main/java/com/lxmf/messenger/ui/screens/MapScreen.kt
  app/src/main/java/com/lxmf/messenger/viewmodel/ChatsViewModel.kt
  app/src/main/java/com/lxmf/messenger/viewmodel/ContactsViewModel.kt
  app/src/main/java/com/lxmf/messenger/viewmodel/MessagingViewModel.kt
  app/src/test/java/com/lxmf/messenger/viewmodel/ChatsViewModelTest.kt
  app/src/test/java/com/lxmf/messenger/viewmodel/ContactsViewModelTest.kt
Due: unittests

refactor: extract duplicated getContactLocation into ReceivedLocationRepository
  app/src/main/java/com/lxmf/messenger/viewmodel/ChatsViewModel.kt
  app/src/main/java/com/lxmf/messenger/viewmodel/ContactsViewModel.kt
  app/src/main/java/com/lxmf/messenger/viewmodel/MessagingViewModel.kt
  app/src/test/java/com/lxmf/messenger/viewmodel/ChatsViewModelTest.kt
  app/src/test/java/com/lxmf/messenger/viewmodel/ContactsViewModelTest.kt
  app/src/test/java/com/lxmf/messenger/viewmodel/MessagingViewModelImageLoadingTest.kt
  app/src/test/java/com/lxmf/messenger/viewmodel/MessagingViewModelTest.kt
  data/src/main/java/com/lxmf/messenger/data/repository/ReceivedLocationRepository.kt
  data/src/test/java/com/lxmf/messenger/data/repository/ReceivedLocationRepositoryTest.kt
Due: unittests

fix: add default observeHasLocation stub and revert itemsIndexed
  app/src/main/java/com/lxmf/messenger/ui/screens/ContactsScreen.kt
  app/src/test/java/com/lxmf/messenger/viewmodel/MessagingViewModelImageLoadingTest.kt
  app/src/test/java/com/lxmf/messenger/viewmodel/MessagingViewModelTest.kt
Due: unittests

fix: align expiry filtering with map grace period and fix orphaned KDoc
  app/src/main/java/com/lxmf/messenger/viewmodel/MapViewModel.kt
  data/src/main/java/com/lxmf/messenger/data/repository/ReceivedLocationRepository.kt
  data/src/test/java/com/lxmf/messenger/data/repository/ReceivedLocationRepositoryTest.kt
Due: unittests

feat: add background location permission flow in Location Sharing settings
  app/src/main/java/com/lxmf/messenger/ui/components/BackgroundLocationPermissionBottomSheet.kt
  app/src/main/java/com/lxmf/messenger/ui/screens/MapScreen.kt
  app/src/main/java/com/lxmf/messenger/ui/screens/SettingsScreen.kt
  app/src/main/java/com/lxmf/messenger/ui/screens/settings/cards/LocationSharingCard.kt
  app/src/test/java/com/lxmf/messenger/ui/screens/settings/cards/LocationSharingCardTest.kt
Due: unittests

feat: add block & blackhole peer protection
  app/src/main/aidl/com/lxmf/messenger/IReticulumService.aidl
  app/src/main/java/com/lxmf/messenger/MainActivity.kt
  app/src/main/java/com/lxmf/messenger/reticulum/protocol/ServiceReticulumProtocol.kt
  app/src/main/java/com/lxmf/messenger/service/binder/ReticulumServiceBinder.kt
  app/src/main/java/com/lxmf/messenger/service/persistence/ServicePersistenceManager.kt
  app/src/main/java/com/lxmf/messenger/ui/screens/AnnounceDetailScreen.kt
  app/src/main/java/com/lxmf/messenger/ui/screens/BlockedUsersScreen.kt
  app/src/main/java/com/lxmf/messenger/ui/screens/ChatsScreen.kt
  app/src/main/java/com/lxmf/messenger/ui/screens/MessagingScreen.kt
  app/src/main/java/com/lxmf/messenger/ui/screens/SettingsScreen.kt
  app/src/main/java/com/lxmf/messenger/ui/screens/settings/cards/PrivacyCard.kt
  app/src/main/java/com/lxmf/messenger/viewmodel/AnnounceStreamViewModel.kt
  app/src/main/java/com/lxmf/messenger/viewmodel/BlockedUsersViewModel.kt
  app/src/main/java/com/lxmf/messenger/viewmodel/ChatsViewModel.kt
  app/src/main/java/com/lxmf/messenger/viewmodel/MessagingViewModel.kt
  app/src/test/java/com/lxmf/messenger/service/persistence/ServicePersistenceManagerDatabaseTest.kt
  app/src/test/java/com/lxmf/messenger/ui/screens/ChatsScreenTest.kt
  app/src/test/java/com/lxmf/messenger/viewmodel/AnnounceStreamViewModelTest.kt
  app/src/test/java/com/lxmf/messenger/viewmodel/ChatsViewModelTest.kt
  app/src/test/java/com/lxmf/messenger/viewmodel/MessagingViewModelImageLoadingTest.kt
  app/src/test/java/com/lxmf/messenger/viewmodel/MessagingViewModelTest.kt
  data/src/main/java/com/lxmf/messenger/data/db/ColumbaDatabase.kt
  data/src/main/java/com/lxmf/messenger/data/db/dao/BlockedPeerDao.kt
  data/src/main/java/com/lxmf/messenger/data/db/dao/ConversationDao.kt
  data/src/main/java/com/lxmf/messenger/data/db/entity/BlockedPeerEntity.kt
  data/src/main/java/com/lxmf/messenger/data/di/DatabaseModule.kt
  data/src/main/java/com/lxmf/messenger/data/repository/BlockedPeerRepository.kt
  data/src/test/java/com/lxmf/messenger/data/db/dao/BlockedPeerDaoTest.kt
  python/blocking_manager.py
  python/reticulum_wrapper.py
  reticulum/src/main/java/com/lxmf/messenger/reticulum/protocol/MockReticulumProtocol.kt
  reticulum/src/main/java/com/lxmf/messenger/reticulum/protocol/ReticulumProtocol.kt
Due: unittests, python

fix: resolve CI lint failures for block & blackhole feature
  app/src/main/java/com/lxmf/messenger/service/binder/ReticulumServiceBinder.kt
  app/src/main/java/com/lxmf/messenger/ui/screens/AnnounceDetailScreen.kt
  app/src/main/java/com/lxmf/messenger/ui/screens/BlockedUsersScreen.kt
  app/src/main/java/com/lxmf/messenger/viewmodel/AnnounceStreamViewModel.kt
  app/src/test/java/com/lxmf/messenger/viewmodel/ChatsViewModelTest.kt
  data/src/main/java/com/lxmf/messenger/data/di/DatabaseModule.kt
Due: unittests

fix: resolve Kotlin test failure and add Python test coverage
  app/src/test/java/com/lxmf/messenger/ui/screens/AnnounceDetailScreenTest.kt
  python/blocking_manager.py
  python/test_blocking_manager.py
Due: unittests, python

Defer bulk peer identity restore after prioritizing contacts
  app/src/main/java/com/lxmf/messenger/ColumbaApplication.kt
  data/src/main/java/com/lxmf/messenger/data/db/dao/ContactDao.kt
  data/src/main/java/com/lxmf/messenger/data/repository/ContactRepository.kt
Due: unittests

Fix prioritized restore fallback and detekt loop warning
  app/src/main/java/com/lxmf/messenger/ColumbaApplication.kt
Due: unittests

fix: add navigation bar padding to download wizard steps
  app/src/main/java/com/lxmf/messenger/ui/screens/offlinemaps/OfflineMapDownloadScreen.kt
Due: unittests

Path conditions:
  unittests: any of: app/, core/, but not: external/**, python/test_*.py, app/src/main/java/com/lxmf/messenger/service/**, app/src/main/java/com/lxmf/messenger/reticulum/protocol/**, app/src/main/java/com/lxmf/messenger/ui/components/FileAttachmentCard.kt, app/src/main/java/com/lxmf/messenger/ui/components/FileAttachmentPreviewRow.kt
  python: any of: python/, but not: external/**, python/test_*.py, app/src/main/java/com/lxmf/messenger/service/**, app/src/main/java/com/lxmf/messenger/reticulum/protocol/**, app/src/main/java/com/lxmf/messenger/ui/components/FileAttachmentCard.kt, app/src/main/java/com/lxmf/messenger/ui/components/FileAttachmentPreviewRow.kt
