Repository torlando-tech/columba: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, python

Fix detekt ReturnCount in pollForSyncCompletion
  app/src/main/java/com/lxmf/messenger/service/PropagationNodeManager.kt
Due: none

Fix syncFinalized not reset in manual triggerSync path
  app/src/main/java/com/lxmf/messenger/service/PropagationNodeManager.kt
Due: none

Address review: syncNativeInterfaces dispatcher, status divergence, sync race
  app/src/main/java/com/lxmf/messenger/service/PropagationNodeManager.kt
  app/src/main/java/com/lxmf/messenger/viewmodel/InterfaceManagementViewModel.kt
Due: unittests

Fix PropagationNodeManager poll loop and type reference
  app/src/main/java/com/lxmf/messenger/service/PropagationNodeManager.kt
  app/src/main/java/com/lxmf/messenger/viewmodel/InterfaceManagementViewModel.kt
Due: unittests

Fix inbound LXST calls: msgpack-frame signals and wait for ACTIVE link
  reticulum/src/main/java/com/lxmf/messenger/reticulum/call/telephone/NativeCallManager.kt
Due: none

Drop inbound-call link-established workaround in NativeCallManager
  reticulum/src/main/java/com/lxmf/messenger/reticulum/call/telephone/NativeCallManager.kt
Due: none

address greptile review feedback (greploop iteration 1)
  reticulum/src/main/java/com/lxmf/messenger/reticulum/call/telephone/NativeCallManager.kt
  reticulum/src/main/java/com/lxmf/messenger/reticulum/protocol/NativeNomadNetHandler.kt
  reticulum/src/main/java/com/lxmf/messenger/reticulum/protocol/NativeReticulumProtocol.kt
Due: none

address greptile review feedback (greploop iteration 2)
  reticulum/src/main/java/com/lxmf/messenger/reticulum/call/telephone/NativeNetworkTransport.kt
Due: none

fix: recalibrate shake sensitivity slider so full range is usable
  app/src/main/java/com/lxmf/messenger/service/SosTriggerDetector.kt
  app/src/test/java/com/lxmf/messenger/service/SosTriggerDetectorTest.kt
Due: unittests

address greptile review feedback (greploop iteration 7): clean stale Python comments
  app/src/main/java/com/lxmf/messenger/ColumbaApplication.kt
Due: unittests

address greptile review feedback (greploop iteration 1)
  .github/workflows/ci.yml
Due: none

address greptile review feedback (greploop iteration 2)
  app/proguard-rules.pro
Due: unittests

address greptile review feedback (greploop iteration 3)
  data/src/main/java/com/lxmf/messenger/data/model/InterfaceType.kt
Due: none

Add search + type filter to discovered interfaces, propagate IFAC
  app/src/main/java/com/lxmf/messenger/MainActivity.kt
  app/src/main/java/com/lxmf/messenger/ui/screens/DiscoveredInterfacesScreen.kt
  app/src/main/java/com/lxmf/messenger/ui/screens/tcpclient/ReviewConfigureStep.kt
  app/src/main/java/com/lxmf/messenger/ui/screens/tcpclient/TcpClientWizardScreen.kt
  app/src/main/java/com/lxmf/messenger/viewmodel/DiscoveredInterfacesViewModel.kt
  app/src/main/java/com/lxmf/messenger/viewmodel/TcpClientWizardViewModel.kt
  app/src/test/java/com/lxmf/messenger/viewmodel/DiscoveredInterfacesViewModelTest.kt
  reticulum/src/main/java/com/lxmf/messenger/reticulum/protocol/NativeReticulumProtocol.kt
  reticulum/src/main/java/com/lxmf/messenger/reticulum/protocol/ReticulumProtocol.kt
Due: unittests

Auto-populate IFAC values for discovered interfaces.
  app/src/main/java/com/lxmf/messenger/MainActivity.kt
  app/src/main/java/com/lxmf/messenger/ui/screens/DiscoveredInterfacesScreen.kt
  app/src/main/java/com/lxmf/messenger/ui/screens/tcpclient/ReviewConfigureStep.kt
  app/src/main/java/com/lxmf/messenger/ui/screens/tcpclient/TcpClientWizardScreen.kt
  app/src/main/java/com/lxmf/messenger/viewmodel/TcpClientWizardViewModel.kt
  python/reticulum_wrapper.py
  reticulum/src/main/java/com/lxmf/messenger/reticulum/protocol/ReticulumProtocol.kt
Due: unittests, python

Expose IFAC fields on discovery cards, add IFAC-only autoconnect filter
  app/src/main/java/com/lxmf/messenger/ColumbaApplication.kt
  app/src/main/java/com/lxmf/messenger/repository/SettingsRepository.kt
  app/src/main/java/com/lxmf/messenger/service/InterfaceConfigManager.kt
  app/src/main/java/com/lxmf/messenger/startup/StartupConfigLoader.kt
  app/src/main/java/com/lxmf/messenger/ui/screens/DiscoveredInterfacesScreen.kt
  app/src/main/java/com/lxmf/messenger/viewmodel/DiscoveredInterfacesViewModel.kt
  app/src/test/java/com/lxmf/messenger/repository/SettingsRepositoryTest.kt
  app/src/test/java/com/lxmf/messenger/startup/StartupConfigLoaderTest.kt
  app/src/test/java/com/lxmf/messenger/viewmodel/DiscoveredInterfacesViewModelTest.kt
  app/src/test/java/com/lxmf/messenger/viewmodel/TcpClientWizardViewModelTest.kt
  reticulum/src/main/java/com/lxmf/messenger/reticulum/model/ReticulumConfig.kt
  reticulum/src/main/java/com/lxmf/messenger/reticulum/protocol/NativeReticulumProtocol.kt
  reticulum/src/main/java/com/lxmf/messenger/reticulum/protocol/ReticulumProtocol.kt
Due: unittests

Interface discovery: search, filter, IFAC handling + IFAC-only autoconnect
  app/src/main/java/com/lxmf/messenger/ColumbaApplication.kt
  app/src/main/java/com/lxmf/messenger/MainActivity.kt
  app/src/main/java/com/lxmf/messenger/repository/SettingsRepository.kt
  app/src/main/java/com/lxmf/messenger/service/InterfaceConfigManager.kt
  app/src/main/java/com/lxmf/messenger/startup/StartupConfigLoader.kt
  app/src/main/java/com/lxmf/messenger/ui/screens/DiscoveredInterfacesScreen.kt
  app/src/main/java/com/lxmf/messenger/ui/screens/tcpclient/ReviewConfigureStep.kt
  app/src/main/java/com/lxmf/messenger/ui/screens/tcpclient/TcpClientWizardScreen.kt
  app/src/main/java/com/lxmf/messenger/viewmodel/DiscoveredInterfacesViewModel.kt
  app/src/main/java/com/lxmf/messenger/viewmodel/TcpClientWizardViewModel.kt
  app/src/test/java/com/lxmf/messenger/repository/SettingsRepositoryTest.kt
  app/src/test/java/com/lxmf/messenger/startup/StartupConfigLoaderTest.kt
  app/src/test/java/com/lxmf/messenger/viewmodel/DiscoveredInterfacesViewModelTest.kt
  app/src/test/java/com/lxmf/messenger/viewmodel/TcpClientWizardViewModelTest.kt
  reticulum/src/main/java/com/lxmf/messenger/reticulum/model/ReticulumConfig.kt
  reticulum/src/main/java/com/lxmf/messenger/reticulum/protocol/NativeReticulumProtocol.kt
  reticulum/src/main/java/com/lxmf/messenger/reticulum/protocol/ReticulumProtocol.kt
Due: unittests

address greptile review feedback (greploop iteration 1)
  app/src/main/java/com/lxmf/messenger/ui/screens/DiscoveredInterfacesScreen.kt
  reticulum/src/main/java/com/lxmf/messenger/reticulum/protocol/ReticulumProtocol.kt
Due: unittests

address greptile review feedback (greploop iteration 3)
  app/src/main/java/com/lxmf/messenger/ui/screens/DiscoveredInterfacesScreen.kt
  app/src/main/java/com/lxmf/messenger/viewmodel/DiscoveredInterfacesViewModel.kt
Due: unittests

address greptile review feedback
  app/src/main/java/com/lxmf/messenger/ui/screens/DiscoveredInterfacesScreen.kt
  reticulum/src/main/java/com/lxmf/messenger/reticulum/protocol/ReticulumProtocol.kt
Due: unittests

fix detekt violations surfaced by CI
  app/src/main/java/com/lxmf/messenger/ui/screens/DiscoveredInterfacesScreen.kt
  app/src/test/java/com/lxmf/messenger/viewmodel/DiscoveredInterfacesViewModelTest.kt
  reticulum/src/main/java/com/lxmf/messenger/reticulum/protocol/NativeReticulumProtocol.kt
Due: unittests

add getAutoconnectIfacOnly stub to InterfaceConfigManagerTest
  app/src/test/java/com/lxmf/messenger/service/InterfaceConfigManagerTest.kt
Due: unittests

address greptile review feedback (greploop iteration 2)
  reticulum/src/androidTest/java/com/lxmf/messenger/reticulum/call/telephone/NativeNetworkTransportInstrumentedTest.kt
  reticulum/src/main/java/com/lxmf/messenger/reticulum/call/telephone/NativeNetworkTransport.kt
  reticulum/src/main/java/com/lxmf/messenger/reticulum/protocol/NativeNomadNetHandler.kt
Due: none

surface Apply Changes fallback when native hot-reload fails
  app/src/main/java/com/lxmf/messenger/viewmodel/InterfaceManagementViewModel.kt
Due: unittests

address greptile review feedback (greploop iteration 2)
  app/src/main/java/com/lxmf/messenger/service/PropagationNodeManager.kt
Due: none

address greptile review feedback (greploop iteration 3)
  app/src/main/java/com/lxmf/messenger/service/PropagationNodeManager.kt
  app/src/main/java/com/lxmf/messenger/ui/util/LifecycleTicker.kt
  app/src/main/java/com/lxmf/messenger/viewmodel/SettingsViewModel.kt
  reticulum/src/main/java/com/lxmf/messenger/reticulum/protocol/NativeReticulumProtocol.kt
Due: unittests

address greptile review feedback (greploop iteration 4)
  app/src/main/java/com/lxmf/messenger/service/PropagationNodeManager.kt
  app/src/main/java/com/lxmf/messenger/viewmodel/MessagingViewModel.kt
Due: unittests

finalize sync state in periodic timeout watchdog
  app/src/main/java/com/lxmf/messenger/service/PropagationNodeManager.kt
Due: none

update service notification in initializeReticulumService
  app/src/main/java/com/lxmf/messenger/ColumbaApplication.kt
Due: unittests

cancel previous scope before replacing it in initialize()
  reticulum/src/main/java/com/lxmf/messenger/reticulum/protocol/NativeReticulumProtocol.kt
Due: none

catch SettingsViewModel.setBatteryProfile, guard poll race, document notification timing
  app/src/main/java/com/lxmf/messenger/ColumbaApplication.kt
  app/src/main/java/com/lxmf/messenger/service/PropagationNodeManager.kt
  app/src/main/java/com/lxmf/messenger/viewmodel/SettingsViewModel.kt
Due: unittests

remove stale Python reference in cold-start comment
  app/src/main/java/com/lxmf/messenger/ColumbaApplication.kt
Due: unittests

fix sync poll duration and lift getFullIdentityKey onto the interface
  app/src/main/java/com/lxmf/messenger/ColumbaApplication.kt
  app/src/main/java/com/lxmf/messenger/service/PropagationNodeManager.kt
  reticulum/src/main/java/com/lxmf/messenger/reticulum/protocol/NativeReticulumProtocol.kt
  reticulum/src/main/java/com/lxmf/messenger/reticulum/protocol/ReticulumProtocol.kt
Due: unittests

Path conditions:
  unittests: any of: app/, core/, but not: external/**, python/test_*.py, app/src/main/java/com/lxmf/messenger/service/**, app/src/main/java/com/lxmf/messenger/reticulum/protocol/**, app/src/main/java/com/lxmf/messenger/ui/components/FileAttachmentCard.kt, app/src/main/java/com/lxmf/messenger/ui/components/FileAttachmentPreviewRow.kt
  python: any of: python/, but not: external/**, python/test_*.py, app/src/main/java/com/lxmf/messenger/service/**, app/src/main/java/com/lxmf/messenger/reticulum/protocol/**, app/src/main/java/com/lxmf/messenger/ui/components/FileAttachmentCard.kt, app/src/main/java/com/lxmf/messenger/ui/components/FileAttachmentPreviewRow.kt
