Repository torlando-tech/columba: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, python

.codecov.yml:

comment:
  layout: "reach,diff,flags,tree"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

coverage:
  precision: 2
  round: down
  range: "70..100"
  status:
    patch:
      default:
        target: 70%

flags:
  unittests:
    paths:
      - "app/"
      - "core/"
    carryforward: true
  python:
    paths:
      - "python/"
    carryforward: true

ignore:
  - "external/**"
  - "python/test_*.py"
  # Service layer code requires instrumented tests, not unit tests
  - "app/src/main/java/com/lxmf/messenger/service/**"
  - "app/src/main/java/com/lxmf/messenger/reticulum/protocol/**"
  # Compose UI files with @Preview functions (private preview functions can't be tested)
  # These components have extensive Robolectric tests but @Preview functions inflate totals
  - "app/src/main/java/com/lxmf/messenger/ui/components/FileAttachmentCard.kt"
  - "app/src/main/java/com/lxmf/messenger/ui/components/FileAttachmentPreviewRow.kt"

fix: delete SOS trail on cancellation to prevent stale restore
  app/src/main/java/com/lxmf/messenger/service/MessageCollector.kt
Due: none

fix: replace Mutex with AtomicBoolean to prevent silent trigger drops
  app/src/main/java/com/lxmf/messenger/service/SosManager.kt
Due: none

feat: render discovered interfaces as map pins with type filtering
  app/src/main/java/com/lxmf/messenger/ui/screens/MapScreen.kt
  app/src/main/java/com/lxmf/messenger/ui/util/MarkerBitmapFactory.kt
  app/src/main/java/com/lxmf/messenger/viewmodel/MapViewModel.kt
  app/src/test/java/com/lxmf/messenger/viewmodel/MapViewModelTest.kt
Due: unittests

fix: SOS GPS from FIELD_TELEMETRY, tracker restore on restart, audio ANR
  app/src/main/java/com/lxmf/messenger/notifications/NotificationHelper.kt
  app/src/main/java/com/lxmf/messenger/service/MessageCollector.kt
  app/src/main/java/com/lxmf/messenger/service/SosManager.kt
  app/src/main/java/com/lxmf/messenger/ui/screens/MessagingScreen.kt
Due: unittests

feat: persist first-seen timestamp for discovered interfaces
  app/src/main/java/com/lxmf/messenger/ui/screens/FocusInterfaceDetails.kt
  app/src/main/java/com/lxmf/messenger/ui/screens/MapScreen.kt
  app/src/main/java/com/lxmf/messenger/viewmodel/MapViewModel.kt
  app/src/test/java/com/lxmf/messenger/viewmodel/MapViewModelTest.kt
  data/src/main/java/com/lxmf/messenger/data/db/ColumbaDatabase.kt
  data/src/main/java/com/lxmf/messenger/data/db/dao/InterfaceFirstSeenDao.kt
  data/src/main/java/com/lxmf/messenger/data/db/entity/InterfaceFirstSeenEntity.kt
  data/src/main/java/com/lxmf/messenger/data/di/DatabaseModule.kt
Due: unittests

fix: reduce condition complexity in parseSosLocation for detekt
  app/src/main/java/com/lxmf/messenger/notifications/NotificationHelper.kt
Due: unittests

fix: align map pin icons with discovery screen icons
  app/src/main/java/com/lxmf/messenger/ui/util/InterfaceInfo.kt
  app/src/main/java/com/lxmf/messenger/viewmodel/MapViewModel.kt
Due: unittests

chore: upgrade to Gradle 9.4.1 and AGP 9.1.0 with dependency bumps
  app/build.gradle.kts
  build.gradle.kts
  data/build.gradle.kts
  gradle/libs.versions.toml
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
  reticulum/build.gradle.kts
  screenshot-tests/build.gradle.kts
Due: unittests

fix: update stale kotlin version entry in version catalog to 2.3.20
  gradle/libs.versions.toml
Due: none

fix: avoid sensor cycling on countdown ticks + generation-guard trigger reset
  app/src/main/java/com/lxmf/messenger/service/SosManager.kt
  app/src/main/java/com/lxmf/messenger/service/SosTriggerDetector.kt
Due: none

fix: remaining concurrency, serialization, and robustness issues
  app/src/main/java/com/lxmf/messenger/service/SosActiveTracker.kt
  app/src/main/java/com/lxmf/messenger/service/SosManager.kt
  app/src/main/java/com/lxmf/messenger/service/SosTriggerDetector.kt
  python/reticulum_wrapper.py
Due: python

fix: memoize SOS checks in Compose, audio on IO, atomic restore guard
  app/src/main/java/com/lxmf/messenger/service/SosManager.kt
  app/src/main/java/com/lxmf/messenger/ui/screens/MessagingScreen.kt
Due: unittests

fix: update test for json.dumps in poll_received_messages fields
  python/test_pr422_icon_appearance.py
Due: none

fix: wrap retryResolution in try/catch like sibling methods
  app/src/main/java/com/lxmf/messenger/service/IdentityResolutionManager.kt
Due: none

fix: deduplicate path requests with hasPath guard and remove retry loops
  app/src/main/java/com/lxmf/messenger/service/IdentityResolutionManager.kt
  data/src/main/java/com/lxmf/messenger/data/db/dao/ConversationDao.kt
  data/src/main/java/com/lxmf/messenger/data/repository/ConversationRepository.kt
  python/lxst_modules/call_manager.py
  python/reticulum_wrapper.py
  python/test_path_request.py
  python/test_wrapper_messaging.py
  python/test_wrapper_path.py
Due: python

fix: use identity hash fallback instead of path request in _on_lxmf_delivery
  python/reticulum_wrapper.py
Due: python

fix: address review feedback — dead code, stale messages, docstrings
  python/reticulum_wrapper.py
  python/test_path_request.py
  python/test_telemetry_host_mode.py
Due: python

fix: use case-insensitive matching in location sender subquery
  data/src/main/java/com/lxmf/messenger/data/db/dao/AnnounceDao.kt
Due: none

Add stats section to README with badges and chart
  README.md
Due: none

ci: add Codecov test analytics to all test jobs
  .github/workflows/ci.yml
Due: none

fix: type-safe combine snapshot + state guard in startPeriodicUpdates
  app/src/main/java/com/lxmf/messenger/service/SosManager.kt
  app/src/main/java/com/lxmf/messenger/service/SosTriggerDetector.kt
Due: none

fix: replace runBlocking PIN fallback with eager scope init
  app/src/main/java/com/lxmf/messenger/service/SosManager.kt
Due: none

fix: limit startup path requests to 3 most recent conversations
  app/src/main/java/com/lxmf/messenger/service/IdentityResolutionManager.kt
  data/src/main/java/com/lxmf/messenger/data/db/dao/ConversationDao.kt
  data/src/main/java/com/lxmf/messenger/data/repository/ConversationRepository.kt
Due: none

fix: remove TestHostActivity launcher entry and LeakCanary icon
  app/src/debug/AndroidManifest.xml
Due: unittests

Make submodule guards non-fatal for CI compatibility
  settings.gradle.kts
Due: none

Revert CI workflow changes — belong in PR 4/4 with Python removal
  .github/workflows/ci.yml
Due: none

address greptile review feedback (greploop iteration 2)
  reticulum/src/main/java/com/lxmf/messenger/reticulum/protocol/NativeMessageSender.kt
  reticulum/src/main/java/com/lxmf/messenger/reticulum/protocol/NativeReticulumProtocol.kt
Due: none

address greptile review feedback (greploop iteration 3)
  reticulum/src/main/java/com/lxmf/messenger/reticulum/protocol/NativeReticulumProtocol.kt
Due: none

address greptile review feedback (greploop iteration 1)
  reticulum/src/main/java/com/lxmf/messenger/reticulum/call/rnode/BluetoothLeConnection.kt
Due: none

Fix detekt ReturnCount in pollForSyncCompletion
  app/src/main/java/com/lxmf/messenger/service/PropagationNodeManager.kt
Due: none

Fix NomadNetHandler: make functions suspend for delay() calls
  reticulum/src/main/java/com/lxmf/messenger/reticulum/protocol/NativeNomadNetHandler.kt
Due: none

Delete PythonNetworkTransportShutdownTest (Chaquopy dependency removed)
  reticulum/src/test/java/com/lxmf/messenger/reticulum/call/telephone/PythonNetworkTransportShutdownTest.kt
Due: none

Fix LXST interop with Python Sideband: msgpack-framed signals and audio
  reticulum/src/main/java/com/lxmf/messenger/reticulum/call/telephone/NativeNetworkTransport.kt
Due: none

address greptile review feedback (greploop iteration 1)
  reticulum/src/main/java/com/lxmf/messenger/reticulum/protocol/NativeNomadNetHandler.kt
  reticulum/src/main/java/com/lxmf/messenger/reticulum/protocol/NativeReticulumProtocol.kt
  reticulum/src/main/java/com/lxmf/messenger/reticulum/protocol/NativeTelemetryHandler.kt
Due: none
