Repository torlando-tech/columba: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, python

.codecov.yml:

comment:
  layout: "reach,diff,flags,tree"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

coverage:
  precision: 2
  round: down
  range: "70..100"
  status:
    patch:
      default:
        target: 70%

flags:
  unittests:
    paths:
      - "app/"
      - "core/"
    carryforward: true
  python:
    paths:
      - "python/"
    carryforward: true

ignore:
  - "external/**"
  - "python/test_*.py"
  # Service layer code requires instrumented tests, not unit tests
  - "app/src/main/java/com/lxmf/messenger/service/**"
  - "app/src/main/java/com/lxmf/messenger/reticulum/protocol/**"
  # Compose UI files with @Preview functions (private preview functions can't be tested)
  # These components have extensive Robolectric tests but @Preview functions inflate totals
  - "app/src/main/java/com/lxmf/messenger/ui/components/FileAttachmentCard.kt"
  - "app/src/main/java/com/lxmf/messenger/ui/components/FileAttachmentPreviewRow.kt"

fix: pull-to-refresh indicator, zoom reset, identify refresh, deque eviction
  app/src/main/java/com/lxmf/messenger/ui/screens/NomadNetBrowserScreen.kt
  app/src/main/java/com/lxmf/messenger/viewmodel/NomadNetBrowserViewModel.kt
  python/rns_api.py
Due: unittests, python

fix: thread safety and infinite retry loop in partials
  app/src/main/java/com/lxmf/messenger/nomadnet/PartialManager.kt
  app/src/main/java/com/lxmf/messenger/viewmodel/NomadNetBrowserViewModel.kt
Due: unittests

fix: orphaned job race in detectAndLoad and oversized link cache cap
  app/src/main/java/com/lxmf/messenger/nomadnet/PartialManager.kt
  python/rns_api.py
Due: unittests, python

fix: add @Volatile to fetchEpoch and responsive cancel in page request
  app/src/main/java/com/lxmf/messenger/viewmodel/NomadNetBrowserViewModel.kt
  python/rns_api.py
Due: unittests, python

feat: add true color (24-bit RGB) support to MicronColor via FT/BT commands
  micron/src/main/java/com/lxmf/messenger/micron/MicronColor.kt
  micron/src/main/java/com/lxmf/messenger/micron/MicronParser.kt
  micron/src/test/java/com/lxmf/messenger/micron/MicronParserTest.kt
Due: none

fix: filter partial form fields and fix centered text in scroll mode
  app/src/main/java/com/lxmf/messenger/nomadnet/PartialManager.kt
  app/src/main/java/com/lxmf/messenger/ui/components/MicronComposables.kt
  micron/src/test/java/com/lxmf/messenger/micron/MicronParserTest.kt
Due: unittests

fix: retry link establishment and revert scroll-mode centering
  app/src/main/java/com/lxmf/messenger/ui/components/MicronComposables.kt
  python/rns_api.py
Due: unittests, python

fix: preserve fieldNames in partial state and fix closure capture
  app/src/main/java/com/lxmf/messenger/nomadnet/PartialManager.kt
  python/rns_api.py
Due: unittests, python

Add micron parser audit comparing Columba against NomadNet and micron-parser-js
  docs/micron-parser-audit.md
Due: none

pass 1 localization
  app/src/main/AndroidManifest.xml
  app/src/main/java/com/lxmf/messenger/ui/screens/rnode/DeviceDiscoveryStep.kt
  app/src/main/java/com/lxmf/messenger/ui/screens/rnode/FrequencySlotStep.kt
  app/src/main/java/com/lxmf/messenger/ui/screens/rnode/ModemPresetStep.kt
  app/src/main/java/com/lxmf/messenger/ui/screens/rnode/RNodeWizardScreen.kt
  app/src/main/java/com/lxmf/messenger/ui/screens/rnode/RegionSelectionStep.kt
  app/src/main/java/com/lxmf/messenger/ui/screens/rnode/ReviewConfigStep.kt
  app/src/main/res/values-ru/strings.xml
  app/src/main/res/values/strings.xml
  app/src/main/res/xml/locales_config.xml
Due: unittests

step 2
  app/src/main/java/com/lxmf/messenger/ui/screens/AnnounceDetailScreen.kt
  app/src/main/java/com/lxmf/messenger/ui/screens/AnnounceStreamScreen.kt
  app/src/main/java/com/lxmf/messenger/ui/screens/ApkSharingScreen.kt
  app/src/main/java/com/lxmf/messenger/ui/screens/BleConnectionStatusScreen.kt
  app/src/main/java/com/lxmf/messenger/ui/screens/BlockedUsersScreen.kt
  app/src/main/java/com/lxmf/messenger/ui/screens/onboarding/pages/CompletePage.kt
  app/src/main/java/com/lxmf/messenger/ui/screens/onboarding/pages/ConnectivityPage.kt
  app/src/main/java/com/lxmf/messenger/ui/screens/onboarding/pages/IdentityPage.kt
  app/src/main/java/com/lxmf/messenger/ui/screens/onboarding/pages/PermissionsPage.kt
  app/src/main/java/com/lxmf/messenger/ui/screens/onboarding/pages/WelcomePage.kt
  app/src/main/res/values-ru/strings.xml
  app/src/main/res/values/strings.xml
Due: unittests

step 3
  app/src/main/java/com/lxmf/messenger/ui/screens/ChatsScreen.kt
  app/src/main/java/com/lxmf/messenger/ui/screens/ContactsScreen.kt
  app/src/main/res/values-ru/strings.xml
  app/src/main/res/values/strings.xml
Due: unittests

step next
  app/src/main/java/com/lxmf/messenger/ui/screens/ChatsScreen.kt
  app/src/main/java/com/lxmf/messenger/ui/screens/DiscoveredInterfacesScreen.kt
  app/src/main/java/com/lxmf/messenger/ui/screens/IdentityManagerScreen.kt
  app/src/main/java/com/lxmf/messenger/ui/screens/IdentityScreen.kt
  app/src/main/java/com/lxmf/messenger/ui/screens/MyIdentityScreen.kt
  app/src/main/java/com/lxmf/messenger/ui/screens/settings/cards/AboutCard.kt
  app/src/main/java/com/lxmf/messenger/ui/screens/settings/cards/AutoAnnounceCard.kt
  app/src/main/java/com/lxmf/messenger/ui/screens/settings/cards/BatteryOptimizationCard.kt
  app/src/main/java/com/lxmf/messenger/ui/screens/settings/cards/ImageCompressionCard.kt
  app/src/main/java/com/lxmf/messenger/ui/screens/settings/cards/MapSourcesCard.kt
  app/src/main/java/com/lxmf/messenger/ui/screens/settings/cards/MessageDeliveryRetrievalCard.kt
  app/src/main/java/com/lxmf/messenger/ui/screens/settings/cards/NetworkCard.kt
  app/src/main/java/com/lxmf/messenger/ui/screens/settings/cards/PrivacyCard.kt
  app/src/main/java/com/lxmf/messenger/ui/screens/settings/dialogs/CrashReportDialog.kt
  app/src/main/java/com/lxmf/messenger/ui/screens/settings/dialogs/IdentityQrCodeDialog.kt
  app/src/main/res/values-ru/strings.xml
  app/src/main/res/values/strings.xml
Due: unittests

step next
  app/src/main/java/com/lxmf/messenger/ui/screens/settings/cards/DataMigrationCard.kt
  app/src/main/java/com/lxmf/messenger/ui/screens/settings/cards/IdentityCard.kt
  app/src/main/java/com/lxmf/messenger/ui/screens/settings/cards/NotificationSettingsCard.kt
  app/src/main/java/com/lxmf/messenger/ui/screens/settings/cards/RNodeFlasherCard.kt
  app/src/main/java/com/lxmf/messenger/ui/screens/settings/cards/ShareColumbaCard.kt
  app/src/main/java/com/lxmf/messenger/ui/screens/settings/cards/SharedInstanceBannerCard.kt
  app/src/main/java/com/lxmf/messenger/ui/screens/settings/cards/ThemeSelectionCard.kt
  app/src/main/java/com/lxmf/messenger/ui/screens/settings/cards/VoiceCallPermissionsCard.kt
  app/src/main/res/values-ru/strings.xml
  app/src/main/res/values/strings.xml
Due: unittests

step next
  app/src/main/java/com/lxmf/messenger/ui/screens/MigrationScreen.kt
  app/src/main/java/com/lxmf/messenger/ui/screens/settings/cards/LocationSharingCard.kt
  app/src/main/res/values-ru/strings.xml
  app/src/main/res/values/strings.xml
Due: unittests

more localizations
  app/src/main/java/com/lxmf/messenger/ui/screens/InterfaceManagementScreen.kt
  app/src/main/java/com/lxmf/messenger/ui/screens/InterfaceStatsScreen.kt
  app/src/main/java/com/lxmf/messenger/ui/screens/MessageDetailScreen.kt
  app/src/main/java/com/lxmf/messenger/ui/screens/MessagingScreen.kt
  app/src/main/java/com/lxmf/messenger/ui/screens/NotificationSettingsScreen.kt
  app/src/main/java/com/lxmf/messenger/ui/screens/SettingsScreen.kt
  app/src/main/java/com/lxmf/messenger/ui/screens/UsbDeviceActionScreen.kt
  app/src/main/java/com/lxmf/messenger/ui/screens/VoiceCallScreen.kt
  app/src/main/res/values-ru/strings.xml
  app/src/main/res/values/strings.xml
Due: unittests

fix chatscreen
  app/src/main/java/com/lxmf/messenger/ui/screens/ChatsScreen.kt
Due: unittests

fix?
  app/src/main/java/com/lxmf/messenger/ui/screens/MessagingScreen.kt
Due: unittests

fix :app:detekt
  app/src/main/java/com/lxmf/messenger/ui/screens/AnnounceDetailScreen.kt
  app/src/main/java/com/lxmf/messenger/ui/screens/AnnounceStreamScreen.kt
  app/src/main/java/com/lxmf/messenger/ui/screens/ChatsScreen.kt
  app/src/main/java/com/lxmf/messenger/ui/screens/DiscoveredInterfacesScreen.kt
  app/src/main/java/com/lxmf/messenger/ui/screens/settings/cards/LocationSharingCard.kt
  app/src/main/java/com/lxmf/messenger/ui/screens/settings/cards/MessageDeliveryRetrievalCard.kt
Due: unittests

fix failing tests
  app/src/main/java/com/lxmf/messenger/ui/screens/AnnounceDetailScreen.kt
  app/src/main/java/com/lxmf/messenger/ui/screens/DiscoveredInterfacesScreen.kt
  app/src/main/java/com/lxmf/messenger/ui/screens/InterfaceManagementScreen.kt
  app/src/test/java/com/lxmf/messenger/ui/screens/InterfaceManagementScreenTest.kt
  app/src/test/java/com/lxmf/messenger/ui/screens/settings/cards/LocationSharingCardTest.kt
Due: unittests

fix: catch MapLibre CannotAddLayerException when re-adding SOS trail layers
  app/src/main/java/com/lxmf/messenger/ui/screens/MapScreen.kt
Due: unittests

fix: don't emit FIELD_TELEMETRY without real GPS position
  app/src/main/java/com/lxmf/messenger/service/SosManager.kt
Due: none

fix: mask SOS notification ID hash to positive range
  app/src/main/java/com/lxmf/messenger/notifications/NotificationHelper.kt
  app/src/main/java/com/lxmf/messenger/service/MessageCollector.kt
Due: unittests

fix: post notification for SOS cancellation, split audio recorder I/O, remove dead code
  app/src/main/java/com/lxmf/messenger/service/MessageCollector.kt
  app/src/main/java/com/lxmf/messenger/service/SosAudioRecorder.kt
  app/src/main/java/com/lxmf/messenger/service/SosManager.kt
Due: none

fix: update test mocks for split audio recorder API and formatted GPS
  app/src/test/java/com/lxmf/messenger/service/SosManagerTest.kt
Due: unittests

Update app/src/main/java/com/lxmf/messenger/ui/screens/IdentityScreen.kt
  app/src/main/java/com/lxmf/messenger/ui/screens/IdentityScreen.kt
Due: unittests

fix: draggable SOS overlay, GPS locale fix, telemetry-based View on Map
  app/src/main/java/com/lxmf/messenger/ColumbaApplication.kt
  app/src/main/java/com/lxmf/messenger/MainActivity.kt
  app/src/main/java/com/lxmf/messenger/notifications/NotificationHelper.kt
  app/src/main/java/com/lxmf/messenger/repository/SettingsRepository.kt
  app/src/main/java/com/lxmf/messenger/service/SosActiveTracker.kt
  app/src/main/java/com/lxmf/messenger/service/SosManager.kt
  app/src/main/java/com/lxmf/messenger/service/SosTriggerDetector.kt
  app/src/main/java/com/lxmf/messenger/ui/components/SosOverlay.kt
  app/src/main/java/com/lxmf/messenger/ui/model/MessageMapper.kt
  app/src/main/java/com/lxmf/messenger/ui/screens/MessagingScreen.kt
  app/src/main/java/com/lxmf/messenger/ui/screens/settings/cards/SosEmergencyCard.kt
  app/src/main/java/com/lxmf/messenger/viewmodel/SettingsViewModel.kt
  app/src/test/java/com/lxmf/messenger/viewmodel/SettingsViewModelIncomingMessageLimitTest.kt
  app/src/test/java/com/lxmf/messenger/viewmodel/SettingsViewModelTest.kt
Due: unittests

fix: prevent MediaPlayer leak on LaunchedEffect cancellation
  app/src/main/java/com/lxmf/messenger/ui/components/AudioMessagePlayer.kt
Due: unittests

fix: share file off main thread, ensureActive before Active state, DAO sort, file mode
  app/src/main/java/com/lxmf/messenger/service/SosManager.kt
  app/src/main/java/com/lxmf/messenger/ui/components/AudioMessagePlayer.kt
  data/src/main/java/com/lxmf/messenger/data/db/dao/ReceivedLocationDao.kt
Due: unittests

fix: preserve settings state when combine flow re-fires (#688)
  app/src/main/java/com/lxmf/messenger/viewmodel/SettingsViewModel.kt
Due: unittests

fix: trim passphrase whitespace and clarify IFAC key derivation comment
  app/src/main/java/com/lxmf/messenger/viewmodel/InterfaceManagementViewModel.kt
  python/rnode_interface.py
Due: unittests, python

fix: clear browser state on unexpected file response, reset download progress
  app/src/main/java/com/lxmf/messenger/viewmodel/NomadNetBrowserViewModel.kt
  python/rns_api.py
Due: unittests, python

feat: add NomadNet file download support
  app/src/main/aidl/com/lxmf/messenger/IReticulumService.aidl
  app/src/main/java/com/lxmf/messenger/reticulum/protocol/ServiceReticulumProtocol.kt
  app/src/main/java/com/lxmf/messenger/service/binder/ReticulumServiceBinder.kt
  app/src/main/java/com/lxmf/messenger/service/manager/PythonWrapperManager.kt
  app/src/main/java/com/lxmf/messenger/ui/screens/NomadNetBrowserScreen.kt
  app/src/main/java/com/lxmf/messenger/viewmodel/NomadNetBrowserViewModel.kt
  python/rns_api.py
Due: unittests, python

docs: mark all audit discrepancies as resolved and verified
  docs/micron-parser-audit.md
Due: none

fix: prevent stale page request from overwriting current page (#677)
  app/src/main/java/com/lxmf/messenger/viewmodel/NomadNetBrowserViewModel.kt
Due: unittests

fix: add epoch guards to cache-hit paths and protocol-null early exits
  app/src/main/java/com/lxmf/messenger/viewmodel/NomadNetBrowserViewModel.kt
Due: unittests

Revert "fix: add missing identityRepository param to MapViewModelTest"
  app/src/test/java/com/lxmf/messenger/viewmodel/MapViewModelTest.kt
Due: unittests

fix: cancel triggerJob in deactivate() to prevent orphaned coroutines
  app/src/main/java/com/lxmf/messenger/service/SosManager.kt
Due: none
