Repository torlando-tech/columba: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, python

fix: catch SecurityException when location permission revoked while backgrounded
  app/src/main/java/com/lxmf/messenger/ui/screens/MapScreen.kt
Due: unittests

fix: pre-populate pending_inbound in reaction delivery test
  python/test_wrapper_reactions.py
Due: none

feat: support multiple firmware sources + custom firmware in RNode flasher
  app/src/main/java/com/lxmf/messenger/ui/screens/flasher/RNodeFlasherScreen.kt
  app/src/main/java/com/lxmf/messenger/ui/screens/flasher/steps/FirmwareSelectionStep.kt
  app/src/main/java/com/lxmf/messenger/viewmodel/FlasherViewModel.kt
  reticulum/src/main/java/com/lxmf/messenger/reticulum/flasher/FirmwareDownloader.kt
  reticulum/src/main/java/com/lxmf/messenger/reticulum/flasher/FirmwarePackage.kt
  reticulum/src/main/java/com/lxmf/messenger/reticulum/flasher/FirmwareSource.kt
  reticulum/src/main/java/com/lxmf/messenger/reticulum/flasher/RNodeFlasher.kt
Due: unittests

feat: add post-flash TNC configuration and standalone transport config
  app/src/main/java/com/lxmf/messenger/MainActivity.kt
  app/src/main/java/com/lxmf/messenger/ui/screens/UsbDeviceActionScreen.kt
  app/src/main/java/com/lxmf/messenger/ui/screens/flasher/RNodeFlasherScreen.kt
  app/src/main/java/com/lxmf/messenger/ui/screens/flasher/steps/FirmwareSelectionStep.kt
  app/src/main/java/com/lxmf/messenger/ui/screens/flasher/steps/TncConfigurationStep.kt
  app/src/main/java/com/lxmf/messenger/viewmodel/FlasherViewModel.kt
  reticulum/src/main/java/com/lxmf/messenger/reticulum/flasher/RNodeFlasher.kt
Due: unittests

feat: add disable transport button on USB device action screen
  app/src/main/java/com/lxmf/messenger/MainActivity.kt
  app/src/main/java/com/lxmf/messenger/ui/screens/UsbDeviceActionScreen.kt
  reticulum/src/main/java/com/lxmf/messenger/reticulum/flasher/RNodeFlasher.kt
Due: unittests

fix: send CMD_RADIO_STATE ON and reset in TNC mode configuration
  reticulum/src/main/java/com/lxmf/messenger/reticulum/flasher/RNodeDetector.kt
Due: none

fix: replace relaxed mock with explicit stubs in TNC command test
  reticulum/src/test/java/com/lxmf/messenger/reticulum/flasher/RNodeTncCommandSequenceTest.kt
Due: none

fix: use explicit mock stubs instead of relaxed mocks for IdentityResolutionManager
  app/src/test/java/com/lxmf/messenger/viewmodel/ChatsViewModelTest.kt
  app/src/test/java/com/lxmf/messenger/viewmodel/ContactsViewModelTest.kt
Due: unittests

fix: address Greptile review feedback
  app/src/main/java/com/lxmf/messenger/service/IdentityResolutionManager.kt
  app/src/main/java/com/lxmf/messenger/viewmodel/AnnounceStreamViewModel.kt
  app/src/test/java/com/lxmf/messenger/viewmodel/AnnounceStreamViewModelTest.kt
  python/reticulum_wrapper.py
Due: unittests, python

fix: replace relaxed mocks with explicit stubs in AnnounceStreamViewModelTest
  app/src/test/java/com/lxmf/messenger/viewmodel/AnnounceStreamViewModelTest.kt
Due: unittests

fix: remove duplicate resetContactForRetry call in retry flow
  app/src/main/java/com/lxmf/messenger/service/IdentityResolutionManager.kt
Due: none

feat(07-02): add audio attachment fields to MessageUi data class
  .planning/PROJECT.md
  .planning/ROADMAP.md
  .planning/STATE.md
  app/src/main/java/com/lxmf/messenger/ui/model/MessageUi.kt
Due: unittests

feat(07-03): wire audio send flow through MessagingViewModel
  .planning/STATE.md
  app/src/main/java/com/lxmf/messenger/viewmodel/MessagingViewModel.kt
Due: unittests

feat(08-02): create VoiceMessageViewModel and wire sendMessage audio params
  .planning/STATE.md
  app/src/main/java/com/lxmf/messenger/viewmodel/MessagingViewModel.kt
  app/src/main/java/com/lxmf/messenger/viewmodel/VoiceMessageViewModel.kt
Due: unittests

feat(08-01): add VoiceMessageRecorder with Opus encoding and audio focus
  app/src/main/java/com/lxmf/messenger/audio/VoiceMessageRecorder.kt
Due: unittests

docs(phase-7): complete Protocol and Transport Foundation phase
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/STATE.md
Due: none

fix: deduplicate path request logic in MessagingViewModel
  app/src/main/java/com/lxmf/messenger/viewmodel/MessagingViewModel.kt
  app/src/test/java/com/lxmf/messenger/viewmodel/MessagingViewModelImageLoadingTest.kt
  app/src/test/java/com/lxmf/messenger/viewmodel/MessagingViewModelTest.kt
Due: unittests

fix: use Dispatchers.IO for retry resolution, check persist result
  app/src/main/java/com/lxmf/messenger/service/manager/RoutingManager.kt
  app/src/main/java/com/lxmf/messenger/viewmodel/ContactsViewModel.kt
Due: unittests

feat(08-03): add voice message recording UI, preview with playback, and bubble rendering
  app/src/main/java/com/lxmf/messenger/audio/VoiceMessagePlayer.kt
  app/src/main/java/com/lxmf/messenger/ui/screens/MessagingScreen.kt
Due: unittests

feat(09-01): add voicePlayed column to MessageEntity and Migration 42->43
  .planning/ROADMAP.md
  data/src/main/java/com/lxmf/messenger/data/db/ColumbaDatabase.kt
  data/src/main/java/com/lxmf/messenger/data/db/entity/MessageEntity.kt
  data/src/main/java/com/lxmf/messenger/data/di/DatabaseModule.kt
Due: none

feat(09-01): add voicePlayed to domain Message, DAO query, and repository method
  data/src/main/java/com/lxmf/messenger/data/db/dao/MessageDao.kt
  data/src/main/java/com/lxmf/messenger/data/repository/ConversationRepository.kt
Due: none

fix: convert Chaquopy jarray to bytes before RNS Transport lookups
  python/rns_api.py
Due: python

fix: remove dead get_active_propagation_node_hash, restrict enrichment to delivered
  app/src/main/java/com/lxmf/messenger/service/manager/PythonWrapperManager.kt
  app/src/main/java/com/lxmf/messenger/viewmodel/MessagingViewModel.kt
  python/rns_api.py
Due: unittests, python

fix: restore relative timestamp updates without scroll position disruption
  app/src/main/java/com/lxmf/messenger/ui/screens/MessagingScreen.kt
Due: unittests

fix: prevent instrumented test job hanging on dead emulator
  .github/workflows/ci.yml
Due: none

fix: suppress detekt UnusedParameter on callback wired in Phase 4
  app/src/main/java/com/lxmf/messenger/service/rns/ChaquopyRnsDestination.kt
Due: none

docs(10-01): complete recording UI polish plan
  .planning/STATE.md
  .planning/phases/10-recording-ui-edge-cases/10-01-SUMMARY.md
Due: none

fix: prevent Python crashes from null callbacks in destination/link stubs
  app/src/main/java/com/lxmf/messenger/service/rns/ChaquopyRnsDestination.kt
  app/src/main/java/com/lxmf/messenger/service/rns/ChaquopyRnsLink.kt
Due: none

feat(10-02): wire lifecycle ON_STOP and audio focus loss to cancel recording
  app/src/main/java/com/lxmf/messenger/audio/VoiceMessageRecorder.kt
  app/src/main/java/com/lxmf/messenger/ui/screens/MessagingScreen.kt
Due: unittests

fix: restore CI workflow versions from main
  .github/workflows/build-prerelease-apk.yml
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: none

feat: update compileSdk and targetSdk from 35 to 36
  app/build.gradle.kts
  data/build.gradle.kts
  reticulum/build.gradle.kts
  screenshot-tests/build.gradle.kts
Due: unittests

Disable transport node by default for new users
  app/src/main/java/com/lxmf/messenger/repository/SettingsRepository.kt
  app/src/main/java/com/lxmf/messenger/ui/screens/settings/cards/NetworkCard.kt
  app/src/main/java/com/lxmf/messenger/viewmodel/SettingsViewModel.kt
Due: unittests

feat: add pinch-to-zoom with layout-aware scaling in monospace scroll mode
  app/src/main/java/com/lxmf/messenger/ui/screens/NomadNetBrowserScreen.kt
Due: unittests

fix: consume backtick before link/field openers in Micron parser
  micron/src/main/java/com/lxmf/messenger/micron/MicronParser.kt
  micron/src/test/java/com/lxmf/messenger/micron/MicronParserTest.kt
Due: none

fix: prevent wide ASCII art from being clipped in NomadNet scroll mode
  app/src/main/java/com/lxmf/messenger/ui/components/MicronComposables.kt
Due: unittests

fix: navigateToUrl bypasses history and retry drops form data
  app/src/main/java/com/lxmf/messenger/viewmodel/NomadNetBrowserViewModel.kt
  app/src/test/java/com/lxmf/messenger/viewmodel/NomadNetBrowserViewModelTest.kt
Due: unittests

fix: bound history stack, cancel on clear, cap identified links
  app/src/main/java/com/lxmf/messenger/viewmodel/NomadNetBrowserViewModel.kt
  python/rns_api.py
Due: unittests, python

fix: allow colon in custom scheme URL regex for NomadNet paths
  app/src/main/java/com/lxmf/messenger/ui/screens/MessagingScreen.kt
Due: unittests

fix: allow periods in custom scheme URLs and make jobs map thread-safe
  app/src/main/java/com/lxmf/messenger/nomadnet/PartialManager.kt
  app/src/main/java/com/lxmf/messenger/ui/screens/MessagingScreen.kt
Due: unittests

Path conditions:
  unittests: any of: app/, core/, but not: external/**, python/test_*.py, app/src/main/java/com/lxmf/messenger/service/**, app/src/main/java/com/lxmf/messenger/reticulum/protocol/**, app/src/main/java/com/lxmf/messenger/ui/components/FileAttachmentCard.kt, app/src/main/java/com/lxmf/messenger/ui/components/FileAttachmentPreviewRow.kt
  python: any of: python/, but not: external/**, python/test_*.py, app/src/main/java/com/lxmf/messenger/service/**, app/src/main/java/com/lxmf/messenger/reticulum/protocol/**, app/src/main/java/com/lxmf/messenger/ui/components/FileAttachmentCard.kt, app/src/main/java/com/lxmf/messenger/ui/components/FileAttachmentPreviewRow.kt
