Repository torlando-tech/columba: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, python

fix: address second round of review feedback
  app/src/main/java/com/lxmf/messenger/ui/screens/offlinemaps/OfflineMapsScreen.kt
  app/src/main/java/com/lxmf/messenger/viewmodel/OfflineMapDownloadViewModel.kt
  app/src/test/java/com/lxmf/messenger/viewmodel/OfflineMapDownloadViewModelTest.kt
Due: unittests

fix: correct scan overlap warning to describe battery impact, not concurrency
  app/src/main/java/com/lxmf/messenger/ui/components/InterfaceConfigDialog.kt
Due: unittests

fix: isolate connection snapshot from GATT close in BleGattClient.closeImmediate()
  reticulum/src/main/java/com/lxmf/messenger/reticulum/ble/client/BleGattClient.kt
Due: none

feat: add persistent offline mode banner when Reticulum is shut down (#623)
  app/src/main/java/com/lxmf/messenger/MainActivity.kt
  app/src/main/java/com/lxmf/messenger/reticulum/protocol/ServiceReticulumProtocol.kt
  app/src/main/java/com/lxmf/messenger/ui/components/OfflineModeBanner.kt
  app/src/main/java/com/lxmf/messenger/viewmodel/SettingsViewModel.kt
  app/src/test/java/com/lxmf/messenger/ui/components/OfflineModeBannerTest.kt
Due: unittests

fix: extract banner strings to strings.xml and add spinner accessibility
  app/src/main/java/com/lxmf/messenger/ui/components/OfflineModeBanner.kt
  app/src/main/res/values/strings.xml
Due: unittests

feat: add heads-up notification when RNode disconnects
  app/src/main/java/com/lxmf/messenger/service/binder/ReticulumServiceBinder.kt
  app/src/main/java/com/lxmf/messenger/service/manager/ServiceNotificationManager.kt
  python/reticulum_wrapper.py
  python/test_wrapper_ble.py
  reticulum/src/main/java/com/lxmf/messenger/reticulum/rnode/KotlinRNodeBridge.kt
  reticulum/src/test/java/com/lxmf/messenger/reticulum/rnode/KotlinRNodeBridgeOnlineStatusTest.kt
Due: python

Fix post-call navigation after cold start
  app/src/main/java/com/lxmf/messenger/MainActivity.kt
Due: unittests

fix: stop changing phone's Bluetooth device name during BLE advertising
  reticulum/src/main/java/com/lxmf/messenger/reticulum/ble/server/BleAdvertiser.kt
Due: none

refactor: remove dead name-based dedup code after PR #630
  docs/ble-architecture.md
  reticulum/detekt-baseline-debug.xml
  reticulum/src/main/java/com/lxmf/messenger/reticulum/ble/bridge/KotlinBLEBridge.kt
  reticulum/src/main/java/com/lxmf/messenger/reticulum/ble/model/BleConstants.kt
  reticulum/src/main/java/com/lxmf/messenger/reticulum/ble/server/BleAdvertiser.kt
  reticulum/src/main/java/com/lxmf/messenger/reticulum/ble/service/BleConnectionManager.kt
  reticulum/src/test/java/com/lxmf/messenger/reticulum/ble/bridge/KotlinBLEBridgeDeduplicationTest.kt
Due: none

Remove duplicated initial camera effect in MapScreen
  app/src/main/java/com/lxmf/messenger/ui/screens/MapScreen.kt
Due: unittests

fix: adapt KotlinUSBBridge to usb-serial-for-android v3.10.0 API
  reticulum/src/main/java/com/lxmf/messenger/reticulum/usb/KotlinUSBBridge.kt
Due: none

fix: set explicit buildPython and remove dead findCompatiblePython()
  app/build.gradle.kts
  reticulum/build.gradle.kts
Due: unittests

Add parental control (guardian) feature with QR pairing
  app/src/main/aidl/com/lxmf/messenger/IReticulumService.aidl
  app/src/main/java/com/lxmf/messenger/MainActivity.kt
  app/src/main/java/com/lxmf/messenger/reticulum/protocol/ServiceReticulumProtocol.kt
  app/src/main/java/com/lxmf/messenger/service/GuardianCommandProcessor.kt
  app/src/main/java/com/lxmf/messenger/service/MessageCollector.kt
  app/src/main/java/com/lxmf/messenger/service/binder/ReticulumServiceBinder.kt
  app/src/main/java/com/lxmf/messenger/ui/screens/ChatsScreen.kt
  app/src/main/java/com/lxmf/messenger/ui/screens/GuardianQrScannerScreen.kt
  app/src/main/java/com/lxmf/messenger/ui/screens/GuardianScreen.kt
  app/src/main/java/com/lxmf/messenger/ui/screens/SettingsScreen.kt
  app/src/main/java/com/lxmf/messenger/ui/screens/settings/cards/GuardianCard.kt
  app/src/main/java/com/lxmf/messenger/viewmodel/GuardianViewModel.kt
  app/src/main/java/com/lxmf/messenger/viewmodel/MessagingViewModel.kt
  app/src/main/java/com/lxmf/messenger/viewmodel/SettingsViewModel.kt
  data/src/main/java/com/lxmf/messenger/data/db/ColumbaDatabase.kt
  data/src/main/java/com/lxmf/messenger/data/db/dao/AllowedContactDao.kt
  data/src/main/java/com/lxmf/messenger/data/db/dao/GuardianConfigDao.kt
  data/src/main/java/com/lxmf/messenger/data/db/entity/AllowedContactEntity.kt
  data/src/main/java/com/lxmf/messenger/data/db/entity/GuardianConfigEntity.kt
  data/src/main/java/com/lxmf/messenger/data/di/DatabaseModule.kt
  data/src/main/java/com/lxmf/messenger/data/repository/GuardianRepository.kt
  python/guardian_crypto.py
  python/reticulum_wrapper.py
  python/test_guardian_crypto.py
  reticulum/src/main/java/com/lxmf/messenger/reticulum/protocol/MockReticulumProtocol.kt
  reticulum/src/main/java/com/lxmf/messenger/reticulum/protocol/ReticulumProtocol.kt
Due: unittests, python

Fix guardian command processing and encoding issues
  app/src/main/java/com/lxmf/messenger/service/GuardianCommandProcessor.kt
  app/src/main/java/com/lxmf/messenger/service/MessageCollector.kt
  app/src/main/java/com/lxmf/messenger/service/manager/EventHandler.kt
  python/reticulum_wrapper.py
  python/test_wrapper_messaging.py
Due: python

Add UI restrictions for locked child and parent allow list management
  app/src/main/java/com/lxmf/messenger/service/GuardianCommandProcessor.kt
  app/src/main/java/com/lxmf/messenger/ui/screens/ContactsScreen.kt
  app/src/main/java/com/lxmf/messenger/ui/screens/GuardianScreen.kt
  app/src/main/java/com/lxmf/messenger/ui/screens/SettingsScreen.kt
  app/src/main/java/com/lxmf/messenger/ui/screens/settings/cards/IdentityCard.kt
  app/src/main/java/com/lxmf/messenger/ui/screens/settings/cards/LocationSharingCard.kt
  app/src/main/java/com/lxmf/messenger/ui/screens/settings/cards/NetworkCard.kt
  app/src/main/java/com/lxmf/messenger/viewmodel/ContactsViewModel.kt
  app/src/main/java/com/lxmf/messenger/viewmodel/GuardianViewModel.kt
Due: unittests

fix: resolve security issues in parental controls feature
  app/src/main/java/com/lxmf/messenger/service/GuardianCommandProcessor.kt
  app/src/main/java/com/lxmf/messenger/service/binder/ReticulumServiceBinder.kt
  app/src/main/java/com/lxmf/messenger/service/persistence/ServicePersistenceManager.kt
  app/src/main/java/com/lxmf/messenger/ui/screens/GuardianQrScannerScreen.kt
  app/src/main/java/com/lxmf/messenger/viewmodel/GuardianViewModel.kt
  data/src/main/java/com/lxmf/messenger/data/db/ColumbaDatabase.kt
  data/src/main/java/com/lxmf/messenger/data/di/DatabaseModule.kt
  data/src/main/java/com/lxmf/messenger/data/repository/GuardianRepository.kt
  python/reticulum_wrapper.py
Due: unittests, python

Add parental control filtering to ServicePersistenceManager
  app/src/main/java/com/lxmf/messenger/service/persistence/ServicePersistenceManager.kt
Due: none

Add guardian config sync to Python for link filtering
  app/src/main/aidl/com/lxmf/messenger/IReticulumService.aidl
  app/src/main/java/com/lxmf/messenger/ColumbaApplication.kt
  app/src/main/java/com/lxmf/messenger/reticulum/protocol/ServiceReticulumProtocol.kt
  app/src/main/java/com/lxmf/messenger/service/GuardianCommandProcessor.kt
  app/src/main/java/com/lxmf/messenger/service/binder/ReticulumServiceBinder.kt
  data/src/main/java/com/lxmf/messenger/data/repository/GuardianRepository.kt
  python/reticulum_wrapper.py
  reticulum/src/main/java/com/lxmf/messenger/reticulum/protocol/MockReticulumProtocol.kt
  reticulum/src/main/java/com/lxmf/messenger/reticulum/protocol/ReticulumProtocol.kt
Due: unittests, python

Add comprehensive parental controls documentation
  docs/PARENTAL_CONTROLS.md
Due: none

fix: harden guardian PAIR_ACK with signature verification, rate limiting, QR expiry, and direct-only delivery
  app/src/main/java/com/lxmf/messenger/service/GuardianCommandProcessor.kt
  app/src/main/java/com/lxmf/messenger/ui/components/CollapsibleSettingsCard.kt
  app/src/main/java/com/lxmf/messenger/ui/screens/SettingsScreen.kt
  app/src/main/java/com/lxmf/messenger/ui/screens/settings/cards/GuardianCard.kt
  app/src/main/java/com/lxmf/messenger/viewmodel/SettingsViewModel.kt
  python/reticulum_wrapper.py
  python/test_guardian_crypto.py
Due: unittests, python

test: expand guardian crypto test coverage from 16 to 48 tests
  python/test_guardian_crypto.py
Due: none

fix: authenticate PAIR_ACK with pairing token to prevent unauthorized child registration
  app/src/main/java/com/lxmf/messenger/reticulum/protocol/ServiceReticulumProtocol.kt
  app/src/main/java/com/lxmf/messenger/service/GuardianCommandProcessor.kt
  app/src/main/java/com/lxmf/messenger/service/binder/ReticulumServiceBinder.kt
  app/src/main/java/com/lxmf/messenger/viewmodel/GuardianViewModel.kt
  python/guardian_crypto.py
  python/reticulum_wrapper.py
  python/test_guardian_crypto.py
  reticulum/src/main/java/com/lxmf/messenger/reticulum/protocol/MockReticulumProtocol.kt
  reticulum/src/main/java/com/lxmf/messenger/reticulum/protocol/ReticulumProtocol.kt
Due: unittests, python

fix: resolve detekt LongMethod and LargeClass violations
  app/src/main/java/com/lxmf/messenger/service/GuardianCommandProcessor.kt
  app/src/main/java/com/lxmf/messenger/service/manager/EventHandler.kt
Due: none

fix: prevent race condition in "Locate on Map" camera positioning
  app/src/main/java/com/lxmf/messenger/ui/screens/MapScreen.kt
Due: unittests

fix: add missing sortMessagesBySentTime stub to SettingsViewModelTest
  app/src/test/java/com/lxmf/messenger/viewmodel/SettingsViewModelTest.kt
Due: unittests

ci: add dependency pre-resolution with retry for Kotlin test shards
  .github/workflows/ci.yml
Due: none

fix: show notifications for active conversation when app is backgrounded
  app/build.gradle.kts
  app/src/main/java/com/lxmf/messenger/notifications/NotificationHelper.kt
Due: unittests

fix: add sortMessagesBySentTime stubs to all test classes mocking SettingsRepository
  app/src/test/java/com/lxmf/messenger/map/MapTileSourceManagerTest.kt
  app/src/test/java/com/lxmf/messenger/service/InterfaceConfigManagerTest.kt
  app/src/test/java/com/lxmf/messenger/service/PropagationNodeManagerTest.kt
  app/src/test/java/com/lxmf/messenger/service/persistence/ServicePersistenceManagerDatabaseTest.kt
  app/src/test/java/com/lxmf/messenger/viewmodel/MapViewModelTest.kt
  app/src/test/java/com/lxmf/messenger/viewmodel/MessagingViewModelImageLoadingTest.kt
  app/src/test/java/com/lxmf/messenger/viewmodel/MessagingViewModelTest.kt
  app/src/test/java/com/lxmf/messenger/viewmodel/NotificationSettingsViewModelTest.kt
  app/src/test/java/com/lxmf/messenger/viewmodel/SettingsViewModelIncomingMessageLimitTest.kt
  app/src/test/java/com/lxmf/messenger/viewmodel/ThemeEditorViewModelTest.kt
Due: unittests

fix: make path table cache thread-safe and skip caching errors
  app/src/main/java/com/lxmf/messenger/service/manager/RoutingManager.kt
Due: none

fix: replace @Suppress with real assertion for pre-seed dedup test
  app/src/test/java/com/lxmf/messenger/service/MessageCollectorTest.kt
Due: unittests

fix: bound pre-seed query to last 30 days to cap memory usage
  app/src/main/java/com/lxmf/messenger/service/MessageCollector.kt
  app/src/test/java/com/lxmf/messenger/service/MessageCollectorTest.kt
  data/src/main/java/com/lxmf/messenger/data/db/dao/MessageDao.kt
  data/src/main/java/com/lxmf/messenger/data/repository/ConversationRepository.kt
Due: unittests

fix: add missing blockedPeerRepository parameter in AnnounceStreamViewModelTest
  app/src/test/java/com/lxmf/messenger/viewmodel/AnnounceStreamViewModelTest.kt
Due: unittests

feat: add WiFi hotspot sharing for APK distribution without existing network
  app/src/main/AndroidManifest.xml
  app/src/main/java/com/lxmf/messenger/service/LocalHotspotManager.kt
  app/src/main/java/com/lxmf/messenger/ui/screens/ApkSharingScreen.kt
  app/src/main/java/com/lxmf/messenger/viewmodel/ApkSharingViewModel.kt
  app/src/test/java/com/lxmf/messenger/service/LocalHotspotManagerTest.kt
  app/src/test/java/com/lxmf/messenger/viewmodel/ApkSharingViewModelTest.kt
Due: unittests

feat: delete stale announces older than 30 days on startup
  app/src/main/java/com/lxmf/messenger/service/ReticulumService.kt
  app/src/main/java/com/lxmf/messenger/service/persistence/ServicePersistenceManager.kt
  data/src/main/java/com/lxmf/messenger/data/db/dao/AnnounceDao.kt
  data/src/main/java/com/lxmf/messenger/data/repository/AnnounceRepository.kt
  data/src/test/java/com/lxmf/messenger/data/db/dao/AnnounceDaoTest.kt
Due: none

fix: address review feedback on PHONE NodeType and cross-link detection
  app/src/main/java/com/lxmf/messenger/ui/components/PeerCard.kt
  app/src/main/java/com/lxmf/messenger/ui/screens/AnnounceDetailScreen.kt
  app/src/main/java/com/lxmf/messenger/ui/screens/AnnounceStreamScreen.kt
  reticulum/src/main/java/com/lxmf/messenger/reticulum/model/AnnounceEvent.kt
Due: unittests

fix: remove broken cherry-pick artifacts that prevent compilation
  app/src/main/java/com/lxmf/messenger/ui/screens/SettingsScreen.kt
  app/src/main/java/com/lxmf/messenger/viewmodel/MessagingViewModel.kt
  app/src/test/java/com/lxmf/messenger/viewmodel/MessagingViewModelImageLoadingTest.kt
  app/src/test/java/com/lxmf/messenger/viewmodel/MessagingViewModelTest.kt
Due: unittests

ci: trigger CI on release/* branches
  .github/workflows/ci.yml
Due: none

Path conditions:
  unittests: any of: app/, core/, but not: external/**, python/test_*.py, app/src/main/java/com/lxmf/messenger/service/**, app/src/main/java/com/lxmf/messenger/reticulum/protocol/**, app/src/main/java/com/lxmf/messenger/ui/components/FileAttachmentCard.kt, app/src/main/java/com/lxmf/messenger/ui/components/FileAttachmentPreviewRow.kt
  python: any of: python/, but not: external/**, python/test_*.py, app/src/main/java/com/lxmf/messenger/service/**, app/src/main/java/com/lxmf/messenger/reticulum/protocol/**, app/src/main/java/com/lxmf/messenger/ui/components/FileAttachmentCard.kt, app/src/main/java/com/lxmf/messenger/ui/components/FileAttachmentPreviewRow.kt
