Repository torlando-tech/columba: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, python

Skip stagger delay after the final startup path request
  app/src/main/java/com/lxmf/messenger/service/IdentityResolutionManager.kt
Due: none

Fix BleGattServer NPE on null-boxed offset (COLUMBA-6Q)
  reticulum/src/main/java/com/lxmf/messenger/reticulum/ble/server/BleGattServer.kt
Due: none

Bump RNS to 1.1.9 + consolidate runtime-overlay patches into the fork
  python/patches/PATCHES.md
  python/patches/RNS/Destination.py
  python/patches/RNS/__init__.py
  python/requirements.txt
  python/reticulum_wrapper.py
Due: python

Display IFAC passphrase on discovered interface cards
  app/src/main/java/com/lxmf/messenger/ui/screens/DiscoveredInterfacesScreen.kt
Due: unittests

address greptile review feedback (greploop iteration 2)
  app/src/main/java/com/lxmf/messenger/MainActivity.kt
Due: unittests

address greptile review feedback (greploop iteration 1)
  app/src/main/java/com/lxmf/messenger/MainActivity.kt
  app/src/main/java/com/lxmf/messenger/ui/screens/tcpclient/ReviewConfigureStep.kt
  app/src/main/java/com/lxmf/messenger/viewmodel/TcpClientWizardViewModel.kt
Due: unittests

Display IFAC network name per discovered interface with copy
  app/src/main/java/com/lxmf/messenger/ui/screens/DiscoveredInterfacesScreen.kt
Due: unittests

Default DiscoveredInterface IFAC fields to null for test-source compat
  reticulum/src/main/java/com/lxmf/messenger/reticulum/protocol/ReticulumProtocol.kt
Due: none

Auto-populate IFAC values for discovered interfaces.
  app/src/main/java/com/lxmf/messenger/MainActivity.kt
  app/src/main/java/com/lxmf/messenger/ui/screens/DiscoveredInterfacesScreen.kt
  app/src/main/java/com/lxmf/messenger/ui/screens/tcpclient/ReviewConfigureStep.kt
  app/src/main/java/com/lxmf/messenger/ui/screens/tcpclient/TcpClientWizardScreen.kt
  app/src/main/java/com/lxmf/messenger/viewmodel/TcpClientWizardViewModel.kt
  python/reticulum_wrapper.py
  reticulum/src/main/java/com/lxmf/messenger/reticulum/protocol/ReticulumProtocol.kt
Due: unittests, python

Default TcpClientWizardViewModel.setInitialValues IFAC args to empty
  app/src/main/java/com/lxmf/messenger/viewmodel/TcpClientWizardViewModel.kt
Due: unittests

Reject prepared BLE writes per Greptile review on #843
  reticulum/src/main/java/com/lxmf/messenger/reticulum/ble/server/BleGattServer.kt
Due: none

Move Transport Node toggle to a new Advanced settings card
  app/src/main/java/network/columba/app/ui/screens/SettingsScreen.kt
  app/src/main/java/network/columba/app/ui/screens/settings/cards/AdvancedCard.kt
  app/src/main/java/network/columba/app/ui/screens/settings/cards/NetworkCard.kt
  app/src/main/java/network/columba/app/viewmodel/SettingsViewModel.kt
  app/src/test/java/network/columba/app/ui/screens/settings/cards/AdvancedCardTest.kt
  app/src/test/java/network/columba/app/ui/screens/settings/cards/NetworkCardTest.kt
Due: unittests

Rewrite Advanced card copy to educate on transport-node tradeoffs
  app/src/main/java/network/columba/app/ui/screens/settings/cards/AdvancedCard.kt
  app/src/test/java/network/columba/app/ui/screens/settings/cards/AdvancedCardTest.kt
Due: unittests

fix: bump DB version 1→2 and add MIGRATION_1_2 for source column
  data/src/main/java/network/columba/app/data/db/ColumbaDatabase.kt
  data/src/main/java/network/columba/app/data/di/DatabaseModule.kt
Due: none

fix: send telemetry OPPORTUNISTIC instead of DIRECT to avoid Link wait
  reticulum/src/main/java/network/columba/app/reticulum/protocol/NativeReticulumProtocol.kt
Due: none

fix: align LocationForegroundService and LocationServiceCoordinator package declarations
  app/src/main/java/network/columba/app/service/LocationForegroundService.kt
  app/src/main/java/network/columba/app/service/LocationServiceCoordinator.kt
Due: unittests

fix: TOCTOU on serviceFailed + atomic restoreIfActive guard
  app/src/main/java/network/columba/app/service/LocationServiceCoordinator.kt
  app/src/main/java/network/columba/app/service/LocationSharingManager.kt
Due: unittests

fix: prevent acquire retry loop + state consistency in restore
  app/src/main/java/network/columba/app/service/LocationServiceCoordinator.kt
  app/src/main/java/network/columba/app/service/LocationSharingManager.kt
Due: unittests

fix: address review findings — boot receiver, coordinator rollback, session parsing
  app/src/main/AndroidManifest.xml
  app/src/main/java/network/columba/app/service/LocationServiceCoordinator.kt
  app/src/main/java/network/columba/app/service/LocationSharingManager.kt
Due: unittests

fix: telemetry timebase in seconds, not millis
  app/src/main/java/network/columba/app/service/TelemetryCollectorManager.kt
  reticulum/src/main/java/network/columba/app/reticulum/protocol/NativeTelemetryHandler.kt
Due: unittests

fix: telemetry sends real GPS position, not stale OS cache
  app/src/main/java/network/columba/app/service/LocationSharingManager.kt
  app/src/main/java/network/columba/app/service/TelemetryLocationTracker.kt
Due: unittests

Bump LXMF-kt to v0.0.9 — picks up reticulum-kt v0.0.14 alignment
  gradle/libs.versions.toml
Due: none

fix: write 5-element known_destinations entries + bump RNS for migration helper
  python/requirements.txt
  python/reticulum_wrapper.py
Due: python

fix: convert ByteArray to bytes in path API to avoid Chaquopy unhashable error
  python/reticulum_wrapper.py
Due: python

fix: wrap stamp generator callback as BiFunction to expose single SAM
  app/src/main/java/com/lxmf/messenger/service/manager/PythonWrapperManager.kt
Due: none

fix: also coerce ByteArray to bytes in get_hop_count
  python/reticulum_wrapper.py
Due: python

test: update bulk_restore_announces structure assertions to 5-element format
  python/test_wrapper_peer_identity.py
Due: none

fix: pin RNS to commit SHA instead of branch tip for reproducibility
  python/requirements.txt
Due: python

fix: wrap telephone event callback as BiConsumer (same SAM ambiguity)
  app/src/main/java/com/lxmf/messenger/service/manager/PythonWrapperManager.kt
Due: none

Enable Java 8+ API desugaring for API 24/25 support
  app/build.gradle.kts
  data/build.gradle.kts
  gradle/libs.versions.toml
  reticulum/build.gradle.kts
Due: unittests

Fix shutdown race that could close DB while Room writes are mid-transaction
  reticulum/src/main/java/network/columba/app/reticulum/protocol/NativeReticulumProtocol.kt
Due: none

detekt: add DiscardedConcurrencyReturn custom rule
  detekt-config.yml
  detekt-rules/build.gradle.kts
  detekt-rules/src/main/kotlin/network/columba/app/detekt/rules/ColumbaRuleSetProvider.kt
  detekt-rules/src/main/kotlin/network/columba/app/detekt/rules/DiscardedConcurrencyReturnRule.kt
  detekt-rules/src/test/kotlin/network/columba/app/detekt/rules/DiscardedConcurrencyReturnRuleTest.kt
  reticulum/src/main/java/network/columba/app/reticulum/ble/service/BleConnectionManager.kt
  reticulum/src/main/java/network/columba/app/reticulum/protocol/NativeReticulumProtocol.kt
Due: none

chore: bump reticulum-kt v0.0.14 → v0.0.16, LXMF-kt v0.0.9 → v0.0.11
  gradle/libs.versions.toml
Due: none

feat: add BLE PHY codec selector (PHY_1M / PHY_2M / CODED_S2 / CODED_S8)
  app/src/main/java/network/columba/app/repository/InterfaceRepository.kt
  app/src/main/java/network/columba/app/ui/components/InterfaceConfigDialog.kt
  app/src/main/java/network/columba/app/viewmodel/InterfaceManagementViewModel.kt
  reticulum/src/main/java/network/columba/app/reticulum/ble/bridge/KotlinBLEBridge.kt
  reticulum/src/main/java/network/columba/app/reticulum/ble/client/BleGattClient.kt
  reticulum/src/main/java/network/columba/app/reticulum/ble/model/BlePowerSettings.kt
  reticulum/src/main/java/network/columba/app/reticulum/model/InterfaceConfigExt.kt
  reticulum/src/main/java/network/columba/app/reticulum/model/ReticulumConfig.kt
Due: unittests

test: add BLE codec tests and wire configureCodec() at interface start
  app/src/main/java/network/columba/app/ui/components/InterfaceConfigDialog.kt
  app/src/test/java/network/columba/app/repository/InterfaceRepositoryTest.kt
  app/src/test/java/network/columba/app/ui/components/InterfaceConfigDialogTest.kt
  reticulum/src/main/java/network/columba/app/reticulum/ble/model/BlePowerSettings.kt
  reticulum/src/main/java/network/columba/app/reticulum/protocol/NativeInterfaceFactory.kt
  reticulum/src/test/java/network/columba/app/reticulum/ble/model/BleCodecTest.kt
  reticulum/src/test/java/network/columba/app/reticulum/model/InterfaceConfigExtTest.kt
Due: unittests

feat: warn user on inbound LXMF messages with unverified signatures
  app/src/main/java/network/columba/app/service/MessageCollector.kt
  app/src/main/java/network/columba/app/service/di/ServiceDatabaseProvider.kt
  app/src/main/java/network/columba/app/ui/model/MessageMapper.kt
  app/src/main/java/network/columba/app/ui/model/MessageUi.kt
  app/src/main/java/network/columba/app/ui/screens/MessageDetailScreen.kt
  app/src/main/java/network/columba/app/ui/screens/MessagingScreen.kt
  data/src/main/java/network/columba/app/data/db/ColumbaDatabase.kt
  data/src/main/java/network/columba/app/data/db/entity/MessageEntity.kt
  data/src/main/java/network/columba/app/data/db/migrations/Migrations.kt
  data/src/main/java/network/columba/app/data/di/DatabaseModule.kt
  data/src/main/java/network/columba/app/data/repository/ConversationRepository.kt
  reticulum/src/main/java/network/columba/app/reticulum/protocol/NativeReticulumProtocol.kt
  reticulum/src/main/java/network/columba/app/reticulum/protocol/ReticulumProtocol.kt
Due: unittests

feat(NomadNetBrowserScreen): replace duplicate Identify dropdown item with Close site
  app/src/main/java/network/columba/app/ui/screens/NomadNetBrowserScreen.kt
  app/src/test/java/network/columba/app/ui/screens/NomadNetBrowserScreenTest.kt
Due: unittests

Translations
  app/src/main/java/network/columba/app/ui/screens/onboarding/pages/WelcomePage.kt
  app/src/main/res/values-ru/strings.xml
  app/src/main/res/values/strings.xml
  build.gradle.kts
Due: unittests

Translations
  app/src/main/java/network/columba/app/ui/screens/WelcomeScreen.kt
  app/src/main/java/network/columba/app/ui/screens/onboarding/OnboardingPagerScreen.kt
  app/src/main/java/network/columba/app/ui/screens/onboarding/pages/ConnectivityPage.kt
  app/src/main/java/network/columba/app/ui/screens/onboarding/pages/IdentityPage.kt
  app/src/main/java/network/columba/app/ui/screens/onboarding/pages/PermissionsPage.kt
  app/src/main/java/network/columba/app/ui/screens/onboarding/pages/WelcomePage.kt
  app/src/main/res/values-ru/strings.xml
  app/src/main/res/values/strings.xml
Due: unittests

Update app/src/main/res/values/strings.xml
  app/src/main/res/values/strings.xml
Due: unittests

Path conditions:
  unittests: any of: app/, core/, but not: external/**, python/test_*.py, app/src/main/java/com/lxmf/messenger/service/**, app/src/main/java/com/lxmf/messenger/reticulum/protocol/**, app/src/main/java/com/lxmf/messenger/ui/components/FileAttachmentCard.kt, app/src/main/java/com/lxmf/messenger/ui/components/FileAttachmentPreviewRow.kt
  python: any of: python/, but not: external/**, python/test_*.py, app/src/main/java/com/lxmf/messenger/service/**, app/src/main/java/com/lxmf/messenger/reticulum/protocol/**, app/src/main/java/com/lxmf/messenger/ui/components/FileAttachmentCard.kt, app/src/main/java/com/lxmf/messenger/ui/components/FileAttachmentPreviewRow.kt
