Repository torlando-tech/columba: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, python

.codecov.yml:

comment:
  layout: "reach,diff,flags,tree"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

coverage:
  precision: 2
  round: down
  range: "70..100"
  status:
    patch:
      default:
        target: 70%

flags:
  unittests:
    paths:
      - "app/"
      - "core/"
    carryforward: true
  python:
    paths:
      - "python/"
    carryforward: true

ignore:
  - "external/**"
  - "python/test_*.py"
  # Service layer code requires instrumented tests, not unit tests
  - "app/src/main/java/com/lxmf/messenger/service/**"
  - "app/src/main/java/com/lxmf/messenger/reticulum/protocol/**"
  # Compose UI files with @Preview functions (private preview functions can't be tested)
  # These components have extensive Robolectric tests but @Preview functions inflate totals
  - "app/src/main/java/com/lxmf/messenger/ui/components/FileAttachmentCard.kt"
  - "app/src/main/java/com/lxmf/messenger/ui/components/FileAttachmentPreviewRow.kt"

fix: use named parameters for importData call
  app/src/main/java/com/lxmf/messenger/viewmodel/MigrationViewModel.kt
Due: unittests

fix: use SYSTEM_ALERT_WINDOW to launch call screen when app is closed
  app/src/main/AndroidManifest.xml
  app/src/main/java/com/lxmf/messenger/notifications/CallNotificationHelper.kt
  app/src/main/java/com/lxmf/messenger/service/binder/ReticulumServiceBinder.kt
Due: unittests

fix: memory leak in IncomingCallActivity from KeyguardManager callback
  app/src/main/java/com/lxmf/messenger/IncomingCallActivity.kt
Due: unittests

fix: dismiss keyguard on answer and suppress transition animation
  app/src/main/java/com/lxmf/messenger/IncomingCallActivity.kt
Due: unittests

Merge pull request #470 from torlando-tech/fix/oboe-sigsegv-speaker-toggle
  python/lxst_modules/call_manager.py
  python/test_call_manager.py
Due: python

fix: resolve test failures from rebase
  app/src/main/java/com/lxmf/messenger/migration/MigrationImporter.kt
  app/src/test/java/com/lxmf/messenger/data/repository/IdentityRepositoryDatabaseTest.kt
Due: unittests

fix: address PR review feedback for encrypted identity keys
  app/src/main/java/com/lxmf/messenger/ColumbaApplication.kt
  data/src/main/java/com/lxmf/messenger/data/crypto/IdentityKeyEncryptor.kt
  data/src/main/java/com/lxmf/messenger/data/crypto/IdentityKeyProvider.kt
  data/src/main/java/com/lxmf/messenger/data/db/dao/LocalIdentityDao.kt
  data/src/main/java/com/lxmf/messenger/data/repository/IdentityRepository.kt
  data/src/test/java/com/lxmf/messenger/data/crypto/IdentityKeyMigratorTest.kt
  data/src/test/java/com/lxmf/messenger/data/crypto/IdentityKeyProviderTest.kt
Due: unittests

fix: eliminate flaky OfflineMapDownloadViewModelTest failures
  app/src/test/java/com/lxmf/messenger/viewmodel/OfflineMapDownloadViewModelTest.kt
Due: unittests

fix: make announce filter dialog scrollable on short displays
  app/src/main/java/com/lxmf/messenger/ui/screens/AnnounceStreamScreen.kt
Due: unittests

fix: don't request Bluetooth permission for USB-connected RNodes
  app/src/main/java/com/lxmf/messenger/data/database/dao/InterfaceDao.kt
  app/src/test/java/com/lxmf/messenger/data/database/dao/InterfaceDaoTest.kt
Due: unittests

fix: update About copyright to dynamic year range
  app/src/main/java/com/lxmf/messenger/ui/screens/settings/cards/AboutCard.kt
Due: unittests

Update app/src/main/java/com/lxmf/messenger/ui/screens/settings/cards/AboutCard.kt
  app/src/main/java/com/lxmf/messenger/ui/screens/settings/cards/AboutCard.kt
Due: unittests

fix: add post-flash firmware version and hash verification
  reticulum/src/main/java/com/lxmf/messenger/reticulum/flasher/RNodeFlasher.kt
Due: none

fix: use build-time config for copyright year instead of system clock
  app/build.gradle.kts
  app/src/main/java/com/lxmf/messenger/ui/screens/settings/cards/AboutCard.kt
Due: unittests

fix: handle USB re-enumeration during nRF52 DFU flash and provisioning
  app/src/main/java/com/lxmf/messenger/viewmodel/FlasherViewModel.kt
  reticulum/src/main/java/com/lxmf/messenger/reticulum/flasher/FirmwarePackage.kt
  reticulum/src/main/java/com/lxmf/messenger/reticulum/flasher/NordicDFUFlasher.kt
  reticulum/src/main/java/com/lxmf/messenger/reticulum/flasher/RNodeDetector.kt
  reticulum/src/main/java/com/lxmf/messenger/reticulum/flasher/RNodeFlasher.kt
  reticulum/src/test/java/com/lxmf/messenger/reticulum/flasher/FirmwarePackageTest.kt
Due: unittests

fix: retry bootloader connection while waiting for USB permission after re-enumeration
  reticulum/src/main/java/com/lxmf/messenger/reticulum/flasher/NordicDFUFlasher.kt
Due: none

fix: improve post-DFU UX for nRF52 flash completion
  app/src/main/java/com/lxmf/messenger/viewmodel/FlasherViewModel.kt
  reticulum/src/main/java/com/lxmf/messenger/reticulum/flasher/RNodeFlasher.kt
Due: unittests

fix: register nRF52 bootloader PIDs in USB device filter for auto-permission
  app/src/main/res/xml/usb_device_filter.xml
Due: unittests

style: refactor readAckNr loop to satisfy detekt LoopWithTooManyJumpStatements
  reticulum/src/main/java/com/lxmf/messenger/reticulum/flasher/NordicDFUFlasher.kt
Due: none

fix: match Nordic DFU protocol to adafruit-nrfutil reference implementation
  reticulum/src/main/java/com/lxmf/messenger/reticulum/flasher/NordicDFUFlasher.kt
  reticulum/src/main/java/com/lxmf/messenger/reticulum/usb/KotlinUSBBridge.kt
Due: none

cleanup: remove unused DFU helper methods from KotlinUSBBridge
  reticulum/src/main/java/com/lxmf/messenger/reticulum/usb/KotlinUSBBridge.kt
Due: none

fix: avoid spurious 1ms read after ACK deadline in readAckNr
  reticulum/src/main/java/com/lxmf/messenger/reticulum/flasher/NordicDFUFlasher.kt
Due: none

fix: remove OLED references from RNode display comments and UI string
  app/src/main/java/com/lxmf/messenger/ui/screens/rnode/ReviewConfigStep.kt
  app/src/main/java/com/lxmf/messenger/viewmodel/RNodeWizardViewModel.kt
  reticulum/src/main/java/com/lxmf/messenger/reticulum/model/ReticulumConfig.kt
Due: unittests

cleanup: fix stale comments/logs from heartbeat interval change
  detekt-rules/src/main/kotlin/com/lxmf/messenger/detekt/rules/NoRelaxedMocksRule.kt
  python/reticulum_wrapper.py
Due: python

fix: use Dispatchers.IO for buildFieldsJson hex encoding + file writes
  app/src/main/java/com/lxmf/messenger/viewmodel/MessagingViewModel.kt
Due: unittests

fix: write outgoing hex files to subdirectory and include in cleanup
  app/src/main/java/com/lxmf/messenger/util/FileUtils.kt
  app/src/main/java/com/lxmf/messenger/viewmodel/MessagingViewModel.kt
  app/src/test/java/com/lxmf/messenger/viewmodel/MessagingViewModelTest.kt
Due: unittests

fix: QR scanning fails on LineageOS due to camera row stride mismatch
  app/src/main/java/com/lxmf/messenger/ui/screens/QrScannerScreen.kt
Due: unittests

fix: prevent ApkSharingServerTest teardown hang from coroutine race
  app/src/test/java/com/lxmf/messenger/service/ApkSharingServerTest.kt
Due: unittests

fix: resolve DeadObjectException, OOM, and ANR from Sentry
  app/src/main/java/com/lxmf/messenger/reticulum/protocol/ServiceReticulumProtocol.kt
  app/src/main/java/com/lxmf/messenger/service/binder/ReticulumServiceBinder.kt
  app/src/main/java/com/lxmf/messenger/util/FileUtils.kt
  app/src/main/java/com/lxmf/messenger/viewmodel/MessagingViewModel.kt
  data/src/main/java/com/lxmf/messenger/data/repository/ConversationRepository.kt
Due: unittests

fix: add applicationContext mock to MessagingViewModel test constructors
  app/src/test/java/com/lxmf/messenger/viewmodel/MessagingViewModelImageLoadingTest.kt
  app/src/test/java/com/lxmf/messenger/viewmodel/MessagingViewModelTest.kt
Due: unittests

fix: catch IOException in handleSendSuccess to prevent message loss
  app/src/main/java/com/lxmf/messenger/viewmodel/MessagingViewModel.kt
Due: unittests
