Repository torlando-tech/columba: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, python

fix: catch IOException in handleSendSuccess to prevent message loss
  app/src/main/java/com/lxmf/messenger/viewmodel/MessagingViewModel.kt
Due: unittests

fix: send pending file notification eagerly on propagation fallback
  python/reticulum_wrapper.py
Due: python

fix: use Dispatchers.IO for EventHandler coroutines to prevent thread starvation
  app/src/main/java/com/lxmf/messenger/service/manager/EventHandler.kt
Due: none

fix: stream large image hex data to disk to prevent OOM
  app/src/main/java/com/lxmf/messenger/viewmodel/MessagingViewModel.kt
Due: unittests

style: use FIELD_FILE_ATTACHMENTS constant instead of magic number
  python/reticulum_wrapper.py
Due: python

fix: add assertions to sync menu item test to satisfy detekt
  app/src/test/java/com/lxmf/messenger/ui/screens/MessagingScreenTest.kt
Due: unittests

fix: resolve announce interface identification when transport is disabled
  python/interface_lookup.py
  python/reticulum_wrapper.py
  python/test_announce_handler.py
Due: python

fix: shutdown now stops foreground service and removes notification (#455)
  app/src/main/java/com/lxmf/messenger/service/InterfaceConfigManager.kt
  app/src/main/java/com/lxmf/messenger/service/ReticulumService.kt
  app/src/main/java/com/lxmf/messenger/viewmodel/DebugViewModel.kt
  app/src/main/java/com/lxmf/messenger/viewmodel/SettingsViewModel.kt
  app/src/test/java/com/lxmf/messenger/viewmodel/DebugViewModelEventDrivenTest.kt
  app/src/test/java/com/lxmf/messenger/viewmodel/SettingsViewModelIncomingMessageLimitTest.kt
  app/src/test/java/com/lxmf/messenger/viewmodel/SettingsViewModelTest.kt
Due: unittests

fix: restore foreground notification after user swipe on Android 13+
  app/src/main/java/com/lxmf/messenger/MainActivity.kt
  app/src/main/java/com/lxmf/messenger/service/ReticulumService.kt
  app/src/main/java/com/lxmf/messenger/service/manager/ServiceNotificationManager.kt
Due: unittests

fix: strip URI scheme prefixes from hostname input to prevent crash
  app/src/main/java/com/lxmf/messenger/repository/InterfaceRepository.kt
  app/src/main/java/com/lxmf/messenger/util/validation/InputValidator.kt
  app/src/main/java/com/lxmf/messenger/viewmodel/InterfaceManagementViewModel.kt
  app/src/test/java/com/lxmf/messenger/util/validation/InputValidatorTest.kt
Due: unittests

fix: guard port stripping against unbracketed IPv6 addresses
  app/src/main/java/com/lxmf/messenger/util/validation/InputValidator.kt
  app/src/test/java/com/lxmf/messenger/util/validation/InputValidatorTest.kt
Due: unittests

feat(07-02): add audio attachment fields to MessageUi data class
  .planning/PROJECT.md
  .planning/ROADMAP.md
  .planning/STATE.md
  app/src/main/java/com/lxmf/messenger/ui/model/MessageUi.kt
Due: unittests

feat(07-01): add audio params to LXMF send pipeline
  app/src/main/aidl/com/lxmf/messenger/IReticulumService.aidl
  app/src/main/java/com/lxmf/messenger/reticulum/protocol/ServiceReticulumProtocol.kt
  app/src/main/java/com/lxmf/messenger/service/binder/ReticulumServiceBinder.kt
  reticulum/src/main/java/com/lxmf/messenger/reticulum/protocol/MockReticulumProtocol.kt
  reticulum/src/main/java/com/lxmf/messenger/reticulum/protocol/ReticulumProtocol.kt
Due: unittests

feat(07-02): add audio field detection and extraction to MessageMapper
  app/src/main/java/com/lxmf/messenger/ui/model/MessageMapper.kt
Due: unittests

feat(07-01): add audio packing in Python send and field 7 disambiguation
  python/reticulum_wrapper.py
Due: python

feat(07-03): wire audio send flow through MessagingViewModel
  .planning/STATE.md
  app/src/main/java/com/lxmf/messenger/viewmodel/MessagingViewModel.kt
Due: unittests

docs(phase-7): complete Protocol and Transport Foundation phase
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/STATE.md
Due: none

feat(08-01): add AudioPermissionManager for RECORD_AUDIO permission check
  .planning/ROADMAP.md
  app/src/main/java/com/lxmf/messenger/util/AudioPermissionManager.kt
Due: unittests

feat(08-01): add VoiceMessageRecorder with Opus encoding and audio focus
  app/src/main/java/com/lxmf/messenger/audio/VoiceMessageRecorder.kt
Due: unittests

feat(08-02): create VoiceMessageViewModel and wire sendMessage audio params
  .planning/STATE.md
  app/src/main/java/com/lxmf/messenger/viewmodel/MessagingViewModel.kt
  app/src/main/java/com/lxmf/messenger/viewmodel/VoiceMessageViewModel.kt
Due: unittests

feat(08-02): add mic button with hold-to-record gesture and permission handling
  app/src/main/java/com/lxmf/messenger/ui/screens/MessagingScreen.kt
Due: unittests

fix: debounce reachable count updates to prevent binder thread pool saturation
  app/src/main/java/com/lxmf/messenger/ui/screens/IdentityScreen.kt
  app/src/main/java/com/lxmf/messenger/viewmodel/AnnounceStreamViewModel.kt
  app/src/main/java/com/lxmf/messenger/viewmodel/DebugViewModel.kt
Due: unittests

fix(08-02): resolve detekt and ktlint issues for voice message code
  app/src/main/java/com/lxmf/messenger/audio/VoiceMessageRecorder.kt
  app/src/main/java/com/lxmf/messenger/reticulum/protocol/ServiceReticulumProtocol.kt
  app/src/main/java/com/lxmf/messenger/ui/model/MessageUi.kt
  app/src/main/java/com/lxmf/messenger/viewmodel/MessagingViewModel.kt
Due: unittests

fix: detect all nRF52 bootloader PIDs during DFU flash
  app/src/main/res/xml/usb_device_filter.xml
  reticulum/src/main/java/com/lxmf/messenger/reticulum/flasher/NordicDFUFlasher.kt
  reticulum/src/main/java/com/lxmf/messenger/reticulum/flasher/RNodeFlasher.kt
Due: unittests

fix: wipe nRF52 EEPROM before provisioning to initialize LittleFS
  reticulum/src/main/java/com/lxmf/messenger/reticulum/flasher/RNodeDetector.kt
  reticulum/src/main/java/com/lxmf/messenger/reticulum/flasher/RNodeFlasher.kt
Due: none

fix: add @JvmOverloads to KotlinUSBBridge.connect() for Chaquopy compatibility
  reticulum/src/main/java/com/lxmf/messenger/reticulum/usb/KotlinUSBBridge.kt
Due: none

fix: suppress TooGenericExceptionCaught with explanation in repostNotification
  app/src/main/java/com/lxmf/messenger/service/manager/ServiceNotificationManager.kt
Due: none

diag: TX-DIAG logging for Android→iOS SHQ silence investigation
  python/lxst_modules/call_manager.py
Due: python

diag: enhanced flush stall diagnostics for TX batch pipeline
  python/lxst_modules/call_manager.py
Due: python

Add parental control (guardian) feature with QR pairing
  app/src/main/aidl/com/lxmf/messenger/IReticulumService.aidl
  app/src/main/java/com/lxmf/messenger/MainActivity.kt
  app/src/main/java/com/lxmf/messenger/reticulum/protocol/ServiceReticulumProtocol.kt
  app/src/main/java/com/lxmf/messenger/service/GuardianCommandProcessor.kt
  app/src/main/java/com/lxmf/messenger/service/MessageCollector.kt
  app/src/main/java/com/lxmf/messenger/service/binder/ReticulumServiceBinder.kt
  app/src/main/java/com/lxmf/messenger/ui/screens/ChatsScreen.kt
  app/src/main/java/com/lxmf/messenger/ui/screens/GuardianQrScannerScreen.kt
  app/src/main/java/com/lxmf/messenger/ui/screens/GuardianScreen.kt
  app/src/main/java/com/lxmf/messenger/ui/screens/SettingsScreen.kt
  app/src/main/java/com/lxmf/messenger/ui/screens/settings/cards/GuardianCard.kt
  app/src/main/java/com/lxmf/messenger/viewmodel/GuardianViewModel.kt
  app/src/main/java/com/lxmf/messenger/viewmodel/MessagingViewModel.kt
  app/src/main/java/com/lxmf/messenger/viewmodel/SettingsViewModel.kt
  data/src/main/java/com/lxmf/messenger/data/db/ColumbaDatabase.kt
  data/src/main/java/com/lxmf/messenger/data/db/dao/AllowedContactDao.kt
  data/src/main/java/com/lxmf/messenger/data/db/dao/GuardianConfigDao.kt
  data/src/main/java/com/lxmf/messenger/data/db/entity/AllowedContactEntity.kt
  data/src/main/java/com/lxmf/messenger/data/db/entity/GuardianConfigEntity.kt
  data/src/main/java/com/lxmf/messenger/data/di/DatabaseModule.kt
  data/src/main/java/com/lxmf/messenger/data/repository/GuardianRepository.kt
  python/guardian_crypto.py
  python/reticulum_wrapper.py
  python/test_guardian_crypto.py
  reticulum/src/main/java/com/lxmf/messenger/reticulum/protocol/MockReticulumProtocol.kt
  reticulum/src/main/java/com/lxmf/messenger/reticulum/protocol/ReticulumProtocol.kt
Due: unittests, python

Add parent-side management for parental controls
  app/src/main/aidl/com/lxmf/messenger/IReticulumService.aidl
  app/src/main/java/com/lxmf/messenger/reticulum/protocol/ServiceReticulumProtocol.kt
  app/src/main/java/com/lxmf/messenger/service/GuardianCommandProcessor.kt
  app/src/main/java/com/lxmf/messenger/service/MessageCollector.kt
  app/src/main/java/com/lxmf/messenger/service/binder/ReticulumServiceBinder.kt
  app/src/main/java/com/lxmf/messenger/ui/screens/GuardianScreen.kt
  app/src/main/java/com/lxmf/messenger/viewmodel/GuardianViewModel.kt
  data/src/main/java/com/lxmf/messenger/data/db/ColumbaDatabase.kt
  data/src/main/java/com/lxmf/messenger/data/db/dao/PairedChildDao.kt
  data/src/main/java/com/lxmf/messenger/data/db/entity/PairedChildEntity.kt
  data/src/main/java/com/lxmf/messenger/data/di/DatabaseModule.kt
  data/src/main/java/com/lxmf/messenger/data/repository/GuardianRepository.kt
  python/reticulum_wrapper.py
  reticulum/src/main/java/com/lxmf/messenger/reticulum/protocol/MockReticulumProtocol.kt
  reticulum/src/main/java/com/lxmf/messenger/reticulum/protocol/ReticulumProtocol.kt
Due: unittests, python

Fix guardian command processing and encoding issues
  app/src/main/java/com/lxmf/messenger/service/GuardianCommandProcessor.kt
  app/src/main/java/com/lxmf/messenger/service/MessageCollector.kt
  app/src/main/java/com/lxmf/messenger/service/manager/EventHandler.kt
  python/reticulum_wrapper.py
  python/test_wrapper_messaging.py
Due: python

Add UI restrictions for locked child and parent allow list management
  app/src/main/java/com/lxmf/messenger/service/GuardianCommandProcessor.kt
  app/src/main/java/com/lxmf/messenger/ui/screens/ContactsScreen.kt
  app/src/main/java/com/lxmf/messenger/ui/screens/GuardianScreen.kt
  app/src/main/java/com/lxmf/messenger/ui/screens/SettingsScreen.kt
  app/src/main/java/com/lxmf/messenger/ui/screens/settings/cards/IdentityCard.kt
  app/src/main/java/com/lxmf/messenger/ui/screens/settings/cards/LocationSharingCard.kt
  app/src/main/java/com/lxmf/messenger/ui/screens/settings/cards/NetworkCard.kt
  app/src/main/java/com/lxmf/messenger/viewmodel/ContactsViewModel.kt
  app/src/main/java/com/lxmf/messenger/viewmodel/GuardianViewModel.kt
Due: unittests

Add parental control filtering to ServicePersistenceManager
  app/src/main/java/com/lxmf/messenger/service/persistence/ServicePersistenceManager.kt
Due: none

Add guardian config sync to Python for link filtering
  app/src/main/aidl/com/lxmf/messenger/IReticulumService.aidl
  app/src/main/java/com/lxmf/messenger/ColumbaApplication.kt
  app/src/main/java/com/lxmf/messenger/reticulum/protocol/ServiceReticulumProtocol.kt
  app/src/main/java/com/lxmf/messenger/service/GuardianCommandProcessor.kt
  app/src/main/java/com/lxmf/messenger/service/binder/ReticulumServiceBinder.kt
  data/src/main/java/com/lxmf/messenger/data/repository/GuardianRepository.kt
  python/reticulum_wrapper.py
  reticulum/src/main/java/com/lxmf/messenger/reticulum/protocol/MockReticulumProtocol.kt
  reticulum/src/main/java/com/lxmf/messenger/reticulum/protocol/ReticulumProtocol.kt
Due: unittests, python

Add comprehensive parental controls documentation
  docs/PARENTAL_CONTROLS.md
Due: none

Fix guardian locked state not persisting across app restart
  app/src/main/java/com/lxmf/messenger/viewmodel/SettingsViewModel.kt
Due: unittests

fix: resolve security issues in parental controls feature
  app/src/main/java/com/lxmf/messenger/service/GuardianCommandProcessor.kt
  app/src/main/java/com/lxmf/messenger/service/binder/ReticulumServiceBinder.kt
  app/src/main/java/com/lxmf/messenger/service/persistence/ServicePersistenceManager.kt
  app/src/main/java/com/lxmf/messenger/ui/screens/GuardianQrScannerScreen.kt
  app/src/main/java/com/lxmf/messenger/viewmodel/GuardianViewModel.kt
  data/src/main/java/com/lxmf/messenger/data/db/ColumbaDatabase.kt
  data/src/main/java/com/lxmf/messenger/data/di/DatabaseModule.kt
  data/src/main/java/com/lxmf/messenger/data/repository/GuardianRepository.kt
  python/reticulum_wrapper.py
Due: unittests, python

Path conditions:
  unittests: any of: app/, core/, but not: external/**, python/test_*.py, app/src/main/java/com/lxmf/messenger/service/**, app/src/main/java/com/lxmf/messenger/reticulum/protocol/**, app/src/main/java/com/lxmf/messenger/ui/components/FileAttachmentCard.kt, app/src/main/java/com/lxmf/messenger/ui/components/FileAttachmentPreviewRow.kt
  python: any of: python/, but not: external/**, python/test_*.py, app/src/main/java/com/lxmf/messenger/service/**, app/src/main/java/com/lxmf/messenger/reticulum/protocol/**, app/src/main/java/com/lxmf/messenger/ui/components/FileAttachmentCard.kt, app/src/main/java/com/lxmf/messenger/ui/components/FileAttachmentPreviewRow.kt
